{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block header %}
	<h1>{{mentor.name}}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="panel panel-default top-margin">
					<div style="height: 150px; background: #fff;"></div>
					<div class="lc-profile">
					{% thumbnail mentor.photo "120x120" crop="top" as img %}
					<img src="{{img.url}}" alt="" style="position: absolute; left: 4%; top: 125px; padding: 5px; background: #fff;" class="img-circle">
					{% endthumbnail %}
						<div class="col-md-2"></div>
						<div class="col-md-7">
							<h2>{{mentor}}</h2>
						</div>
						<div class="com-md-3">
							{% if user.is_authenticated %}
								{% if user.mentee %}
								<a href="">Connect with Mentor</a>
								{% elif user == mentor.user %}
								<a href="">Edit Account</a>
								{% else %}
								<a href="">Request for more details</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div style="text-align: center; margin-top: 20px;">
						<p><strong>Short Bio</strong></p>
						{{mentor.short_biography}}
					</div>
				</div>
				<div class="col-md-9" style="padding-right: 0;">
					<div class="panel panel-default top-margin">
						<div class="lc-detail">
							<div>
								<h3>Mentor Profile</h3>
							</div>
							<div class="col-md-6">
								<p><strong>Area of Expertise:</strong> <span>{{mentor.industry}}</span></p>
								<p><strong>Availability:</strong> <span>{{mentor.availability}}</span></p> 
								<p><strong>Years of Experience:</strong> <span>{{mentor.years_of_experience}} years</span></p>
							</div>
							<div class="col-md-6">
								<p><strong>Last Active:</strong> <span>{{mentor.date_modified}}</span></p> 
								<p><strong>Type of Business to Handle:</strong> <span>{{mentor.type_to_handle}}</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default top-margin">
					<div class="div-header">
						<h3><strong>Other Mentors in {% if user == mentor.user %} Your {% else %}{{mentor.title}} {{mentor.user.first_name}}'s {% endif %} Area of Expertise</strong></h3>
					</div>
					<div class="row" style="padding: 5px 10px;">
						{% for other_mentor in mentors_for_industry %}
						<div class="col-sm-3">
							<a href="{{other_mentor.get_public_url}}">
								<div class="other-detail">
									{% thumbnail other_mentor.photo "150x150" crop="top" as img %}
									<img src="{{img.url}}" alt="">
									{% endthumbnail %}
									<h4>{{other_mentor}}</h4>
								</div>
							</a>
						</div>
						{% empty %}
						<p style="text-align: center; margin: 20px auto;">Sorry! We couldn't find any other Mentors for similar expertise.</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'side_bar.html' %}
			{% if user.is_authenticated %}
			{% include 'expert/trending_expert.html' %}
			{% endif %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}