{% extends 'base.html' %}
{% load staticfiles humanize thumbnail %}

{% block header %}<h1>MEET OUR <span style="color: #104e8a;">MENTORS</span> <span style="padding: 3px 25px; border-radius: 15px; background: #f4f4f4;">{{ mentors.count}}</span></h1>{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			{% include 'side_bar.html' %}
		</div>
		<div class="col-md-6" style="padding-left: 0; padding-right: 0;">
			<div class="panel panel-default top-margin">
				<div class="" style="text-align: left;">
					<div class="filter">
						{% include 'filter.html' %}
					</div>
				</div>
			</div>
			<div class="panel panel-default top-margin">
				<div class="row" style="padding: 10px;">
					{% for mentor in mentors %}
					<div class="col-md-6">
						<div class="dtl12">
							{% thumbnail mentor.photo "267x213" crop="center" as im %}
                            <img src="{{im.url}}" alt="{{mentor}}">
                            {% endthumbnail %}
                            <h4>{{mentor.name}}</h4>
                            <div class="dtl">
                                <h3>{{mentor.name}}</h3>
                                <p>Area of Expertise: <strong>{{mentor.industry}}</strong></p>
                                <p>Years of Experience: <strong>{{mentor.years_of_experience}} years</strong></p>
                                <a href="{{mentor.get_absolute_url}}">View Profile</a>
                            </div>
                        </div>
					</div>
					{% empty %}
					<h4 style="text-align: center; margin: 30px auto;">Sorry! No records were found</h4>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'expert/trending_expert.html' %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script>
	$('#id_industry').change(function() {
		$('#id_filter').click();
	})
</script>
<script>
	$('#id_industry').select2();
</script>
{% endblock %}