{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<style>
	.butn{
		border-radius: 25px; 
		padding: 5px 20px; 
		background: rgb(13, 83, 116);
		color: #fff;
		font-size: 13px;
		transition: all .43s ease-in-out;
		box-shadow: 7px 7px 15px 0 rgba(0,0,0,0.3);
	}
	.butn:hover{
		color: #fff;
		box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);
	}
	p{
		margin-bottom: 13px;
	}
</style>
{% endblock %}
{% block header %}
	<h1>{{mentor.name}}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">	
				<div class="panel panel-default top-margin">
					<div style="height: 150px;">
						{% thumbnail mentor.background_image "875x145" crop="center" as img %}
						<img src="{{img.url}}" alt="" class=""> 
						{% endthumbnail %}
					</div>
					<div class="lc-profile">
					{% if mentor.photo %}
						{% thumbnail mentor.photo "120x120" crop="top" as img %}
						<img src="{{img.url}}" alt="" style="position: absolute; left: 4%; top: 125px; padding: 5px; background: #fff;" class="img-circle">
						{% endthumbnail %}
					{% else %}
					<img src="{% static 'images/avatar.png' %}" alt="" class="img-circle">
					{% endif %}
						<div class="col-md-2"></div>
						<div class="col-md-7">
							<h2>{{mentor}}</h2>
						</div>
						<div class="com-md-3">
							{% if user.is_authenticated %}
								{% if user.mentee %}
									{% if update_percentage < 75 %}
									<a href="#" data-toggle="popover" title="Your profile is just {{update_percentage}}% complete. Update profile to enable you send a mentorship request.">Request Mentor's Services</a>
									{% elif mentor.percentage_complete < 75 %}
									<a href="#" data-toggle="popover" title="Sorry! You can't send a mentorship request to {{mentor}}. It appears there is an issue with the account currently. Try again Later">Request mentor's Services</a>
									{% else %}
									<a href="{% url 'mentee:send-mentor-request' slug=mentor.slug %}">Request Mentor's Services</a>
									{% endif %}
								{% elif user == mentor.user %}
								<a href="{% url 'mentor:edit' %}">Edit Account</a>
								{% else %}
								<a href="">Request for more details</a>
								{% endif %}
							{% else %}
							<a href="{% url 'accounts:signup' %}?user_type=unknown">Sign Up Now to Request Assistance</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div style="text-align: center; margin-top: 20px;">
						<p><strong>Short Bio</strong></p>
						{{mentor.short_biography}}
					</div>
				</div>
				<div class="col-md-9" style="padding-right: 0;">
					<div class="panel panel-default top-margin">
						<div class="lc-detail">
							<div>
								<h3>Profile</h3>
							</div>
							<div class="col-md-6">
								<p><strong>Area of expertise:</strong> 
									{% if mentor.industry.name == "Others" %}
									<span>{{mentor.specify_industry}}</span>
									{% else %}
									<span>{{mentor.industry}}</span>
									{% endif %}
								</p>
								<p><strong>Availability:</strong> <span>{{mentor.availability}}</span></p> 
								<p><strong>LinkedIn Profile:</strong> 
									<span>
									{% if mentor.linkedin_url %}
									<a href="{{mentor.linkedin_url}}" target="_blank">{{mentor.linkedin_url|truncatechars:"20"}}</a>
									{% else %}
									Not Specified Yet
									{% endif %}
									</span>
								</p> 
							</div>
							<div class="col-md-6">
								<p><strong>Last Active:</strong> <span>{{mentor.date_modified}}</span></p> 
								<p><strong>Years of Experience:</strong> <span>{{mentor.years_of_experience}}</span></p>
								{% if user == mentor.user %}
									{% if mentor.can_migrate %}
									<a class="butn" href="{% url 'mentor:migrate' %}">Migrate To Expert</a>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default top-margin">
					<div class="div-header">
						<h2>Other Mentors in {% if user == mentor.user %} your {% else %}{{mentor}}'s {% endif %}area of expertise</h2>
					</div>
					<div class="row" style="padding: 5px 10px;">
						{% for mentor in mentors_for_industry %}
						<div class="col-sm-3">
							<a href="{{mentor.get_absolute_url}}">
								<div class="other-detail">
									{% thumbnail mentor.photo "150x150" crop="top" as img %}
									<img src="{{img.url}}" alt="">
									{% endthumbnail %}
									<h4>{{mentor}}</h4>
								</div>
							</a>
						</div>
						{% empty %}
						<p style="text-align: center; margin: 20px auto;">Sorry! We couldn't find any other mentor for similar expertise.</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'side_bar.html' %}
			{% if user.is_authenticated %}
				{% include 'expert/trending_expert.html' %}
			{% endif %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}