{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block header %}
	<h1>{{mentor.name}}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">	
				<div class="panel panel-default top-margin">
					<div style="height: 150px;">
						{% thumbnail mentor.background_image "875x145" crop="center" as img %}
						<img src="{{img.url}}" alt="" class=""> 
						{% endthumbnail %}
					</div>
					<div class="lc-profile">
					{% if mentor.photo %}
						{% thumbnail mentor.photo "120x120" crop="top" as img %}
						<img src="{{img.url}}" alt="" style="position: absolute; left: 4%; top: 125px; padding: 5px; background: #fff;" class="img-circle">
						{% endthumbnail %}
					{% else %}
					<img src="{% static 'images/avatar.png' %}" alt="" class="img-circle">
					{% endif %}
						<div class="col-md-2"></div>
						<div class="col-md-7">
							<h2>{{mentor}}</h2>
						</div>
						<div class="com-md-3">
							{% if user.is_authenticated %}
								{% if user.mentee %}
								<a href="{% url 'mentee:send-request' slug=mentor.slug %}">Request mentor's Services</a>
								{% elif user == mentor.user %}
								<a href="{% url 'mentor:edit' %}">Edit Account</a>
								{% else %}
								<a href="">Request for more details</a>
								{% endif %}
							{% else %}
							<a href="{% url 'accounts:signup' %}?user_type=unknown">Sign Up Now to Request Assistance</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div style="text-align: center; margin-top: 20px;">
						<p><strong>Short Bio</strong></p>
						{{mentor.short_biography}}
					</div>
				</div>
				<div class="col-md-9" style="padding-right: 0;">
					<div class="panel panel-default top-margin">
						<div class="lc-detail">
							<div>
								<h3>Profile</h3>
							</div>
							<div class="col-md-6">
								<p><strong>Area of mentorise:</strong> <span>{{mentor.industry}}</span></p>
								<p><strong>Availability:</strong> <span>{{mentor.availability}}</span></p> 
							</div>
							<div class="col-md-6">
								<p><strong>Last Active:</strong> <span>{{mentor.date_modified}}</span></p> 
								<p><strong>Type of Business to Handle:</strong> <span>{{mentor.type_to_handle}}</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default top-margin">
					<div class="div-header">
						<h3><strong>Other mentors in {% if user == mentor.user %} your {% else %}{{mentor.title}} {{mentor.user.first_name}}'s {% endif %}area of expertise</strong></h3>
					</div>
					<div class="row" style="padding: 5px 10px;">
						{% for mentor in mentors_for_industry %}
						<div class="col-sm-3">
							<a href="{{mentor.get_absolute_url}}">
								<div class="other-detail">
									{% thumbnail mentor.photo "150x150" crop="top" as img %}
									<img src="{{img.url}}" alt="">
									{% endthumbnail %}
									<h4>{{mentor}}</h4>
								</div>
							</a>
						</div>
						{% empty %}
						<p style="text-align: center; margin: 20px auto;">Sorry! We couldn't find any other mentor for similar expertise.</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'side_bar.html' %}
			{% if user.is_authenticated %}
				{% include 'expert/trending_expert.html' %}
			{% endif %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}