{% load static %}
<div class="panel panel-default top-margin">
	<div class="div-header" style="text-align: left;">
		<h3><strong>Channels</strong></h3>
	</div>
	<div class="channel-link">
		<p style="font-size: 14px;">Click to view posts for each channel</p>
		<ul>
			<a href="{% url 'forum:forum' %}"><li>All Channels</li></a>
			{% for channel in channels %}
			<a href="{% url 'forum:forum' %}?channel={{channel.id}}"><li>{{channel}}</li></a>
			{% empty %}
			<li style="text-align: center; box-shadow: none; margin: 5px auto;">No Channels Available Yet</li>
			{% endfor %}
		</ul>
	</div>
</div>
