{% load static %}
<div class="panel panel-default top-margin">
	<div class="div-header" style="text-align: left;">
		<h3><strong>Channels</strong> <span style="font-size: 16px; float: right;"><a href="">View all</a></span></h3>
	</div>
	<div class="channel-link">
		<p></p>
		<ul>
			{% for channel in channels %}
			<a href="{% url 'forum:forum' %}?channel={{channel.id}}"><li>{{channel}}</li></a>
			{% empty %}
			<li style="text-align: center; box-shadow: none; margin: 5px auto;">No Channels Available Yet</li>
			{% endfor %}
		</ul>
	</div>
</div>