{% load static thumbnail %}
<div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header" style="background: #3b5998; color: #fff;">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="color: #fff; font-size: 28px;">&times;</span><span class="sr-only">Close</span></button>
	    <h4 class="modal-title" style="text-align: center; color: #fff;">Leave a comment </h4>
	  </div>
	  <div class="modal-body">
		  <div class="l-name">
			{% if post.user.mentee %}
			{% thumbnail post.user.mentee.photo "50x50" crop="top" as im %}
			 <img src="{{im.url}}" alt="">
			 {% endthumbnail %}
			{% endif %}
			{% if post.user.mentor %}
			{% thumbnail post.user.mentor.photo "50x50" crop="top" as im %}
			 <img src="{{im.url}}" alt="">
			 {% endthumbnail %}
			{% endif %}
			{% if post.user.expert %}
			{% thumbnail post.user.expert.photo "50x50" crop="top" as im %}
			 <img src="{{im.url}}" alt="">
			 {% endthumbnail %}
			{% endif %}
		</div>
	  	<div style="text-align: center; font-size: 15px;">
	  		<p>{{post.content}} <br> <span>{{post.date_created}}</span></p>
	  	</div>
	  </div>
	  <div class="modal-footer">
	  	<form method="post" action="{% url 'forum:add-comment' %}">{% csrf_token %}
			<div class="form-group" style="margin-bottom: 10px;">
				<textarea name="reply" id="id_reply" cols="30" rows="2" class="form-control" placeholder="Leave a Comment"></textarea>
			</div>
			<input type="text" name="post_id" value="{{post.id}}" hidden="hidden">
			<button type="submit" class="btn btn-primary btn-sm">Submit</button>
		</form>
		<div class="comment row">
			<div class="col-sm-12">
				
			</div>
			{% for comment in post.comment_set.all %}
			<div class="col-sm-12 l-name-comment" style="display: block;">
				<div class="">
					{% if comment.user.mentee %}
					{% thumbnail comment.user.mentee.photo "50x50" crop="top" as im %}
					 <img src="{{im.url}}" alt="">
					 {% endthumbnail %}
					{% endif %}
					{% if comment.user.mentor %}
					{% thumbnail comment.user.mentor.photo "50x50" crop="top" as im %}
					 <img src="{{im.url}}" alt="">
					 {% endthumbnail %}
					{% endif %}
					{% if comment.user.expert %}
					{% thumbnail comment.user.expert.photo "50x50" crop="top" as im %}
					 <img src="{{im.url}}" alt="">
					 {% endthumbnail %}
					{% endif %}
					<h5 style="color: #9a4252;"><strong>{{comment.user.first_name}}</strong>: <br> {{comment.body}}</h5>
					<small>{{comment.date_created|timesince}} ago</small>
				</div>
			</div>
			{% endfor %}
		</div>
	  </div>
	</div>
</div>