{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block header %}
<h2>Join The Discussion</h2>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			{% include 'side_bar.html' %}
			{% include 'expert/trending_expert.html' %}
		</div>
		<div class="col-sm-6" style="padding-left: 0; padding-right: 0;">
			<div id="id_panel" class="panel panel-default top-margin">
				<div>
					<div class="post-base">
						<div class="prompt" id="id_prompt">
							<h5 id="id_head">Click to Start a Discussion</h5>
						</div>
						{% include 'forum/_post.html' %}
						<div id="cropped" class="center-cropped">
							<img class="portrait" id="preview" src="" alt="">
						</div>
						<div class="post-btn">
							<p id="id_btn_upload"><i class="fa fa-camera"></i> Illustration</p>
							<p id="id_post" style="float: right;"><i class="fa fa-laptop"></i> Post</p>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default top-margin">
				<div class="post-head" style="background: #3b5998;">
					<h4 style="color: #fff;">POSTS for <span style="font-size: 16px; font-weight: 600;">{{current_channel}}</span></h4>
				</div>
				{% for post in posts %}
				<div class="post" onload="hideDetail('{{post.id}}')">
					<div class="l-name">
						{% if post.user.mentee %}
						{% thumbnail post.user.mentee.photo "50x50" crop="top" as im %}
						 <img src="{{im.url}}" alt="">
						 {% endthumbnail %}
						{% endif %}
						{% if post.user.mentor %}
						{% thumbnail post.user.mentor.photo "50x50" crop="top" as im %}
						 <img src="{{im.url}}" alt="">
						 {% endthumbnail %}
						{% endif %}
						{% if post.user.expert %}
						{% thumbnail post.user.expert.photo "50x50" crop="top" as im %}
						 <img src="{{im.url}}" alt="">
						 {% endthumbnail %}
						{% endif %}
						<h5><strong>{{post.user.first_name}} {{post.user.last_name}}</strong><br>
						<span>{{post.date_created}}</span></h5>
					</div>
					<div>
						<p>{{post.content}}</p>
					</div>
					{% if post.illustration %}
					<div class="post-illustration">
						{% thumbnail post.illustration "545x250" crop="center" as im %}
						 <img src="{{im.url}}" alt="">
						 {% endthumbnail %}
					</div>
					{% endif %}
					
					<!-- <img src="{% static 'images/about.jpg' %}" alt="" style="width: 100%; height: 200px;"> -->
					<div style="margin-top: 5px; border-top: 1px solid #f5f5f5; padding: 5px;">
						<a><i class="fa fa-heart-o"></i> Like</a>
						<a style="cursor: pointer;" data-toggle="modal" data-target="#{{post.id}}"><i class="fa fa-comment-o"> {{post.comment_set.count}}</i> Comment{{post.comment_set.count|pluralize}}</a>
						<div class="modal fade" id="{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  {% include 'forum/_comment.html' %}
						</div>
					</div>
				</div>
				{% empty %}
				<h4 style="text-align: center; color: #3b5998; margin: 30px auto; font-size: 14px;">No Posts yet for {{current_channel}}</h4>
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-3">
			{% include 'forum/_channels.html' %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script>
	$('.inner-post').hide();
	
	isVisible = false;
	var container = document.getElementById('id_container');
	$('#id_prompt').click(function() {
		if (isVisible) {
			container.style.display = 'none';
			isVisible = false;
			$('id_head').val('');
			$('#id_panel').removeClass('blur');
			$('#id_head').html('Click to Start a Discussion');
		} else {
			container.style.display = 'block';
			$('#id_panel').addClass('blur');
			isVisible = true;
			$('#id_head').html('Click to Collapse');
		}
	})

	function toggleDetail(item_id) {
		var f_id = '#frm_comment'+item_id;
		$(f_id).slideToggle('fade');
	}
</script>
<script>
	function readURL(input) {

		if (input.files && input.files[0]) {
			var reader = new FileReader();
		
			reader.onload = function(e) {
			$('#preview').attr('src', e.target.result);
			}
		
			reader.readAsDataURL(input.files[0]);
		}
	}

	$("#id_upload").change(function() {
		var c = document.getElementById('cropped');
		c.style.height = 200+"px";
		readURL(this);
	  });
	
	$("#id_btn_upload").click(function(){
		$("#id_upload").click();
	});

	$('#id_post').click(function() {
		$('#id_btn_submit').click();
	})
</script>
<script type="text/javascript">
$(document).ready(function(){
	var c = document.getElementById('cropped');
	c.style.height = 0;
    function alignModal(){
        var modalDialog = $(this).find(".modal-dialog");
        /* Applying the top margin on modal dialog to align it vertically center */
        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
    }
    // Align modal when it is displayed
    $(".modal").on("shown.bs.modal", alignModal);

    // Align modal when user resize the window
    $(window).on("resize", function(){
        $(".modal:visible").each(alignModal);
    });
});
</script>
{% endblock %}
