<h3 style="color: #381452;">Terms and Conditions For Experts</h3>
<ol>
	<li>The objective of this program is to help your mentee’s business grow from its cradle to sustainability</li>
	<li>An expert is required to give a minimum of one (1) hour a daily/weekly/bi-weekly to the mentee depending on service need</li>
	<li>An expert has the option of seeking to accept/decline/change a mentee after a genuine written reason has been provided why the relationship must be terminated. This reason(s) would be addressed to info@thebossoffice.com </li>
	<li>All meetings should be planned clearly towards the objective stated in (i) above and on the curriculum that would be sent upon successful registration</li>
	<li>Meeting requests sent by mentees must be acknowledged and reverted within 48 hours of request </li>
	<li>An evaluation sheet will be filled by the mentee after each meeting which would be sent to you for validation</li>
	<li>All meetings must be conducted in mutually agreed locations at agreed times. </li>
	<li>All meetings should be done in places that do not raise any concerns for both parties</li>
	<li>In cases of misconduct or anomalies, the mentee has the right to contact thebossoffice.com who would take up investigation upon receipt of such reports</li>
	<li>Experts are to refer mentees to thebossofice.com to provide support services when needed</li>
	<li>Advertorials, promotions, public display of goods/services or exchange of contact details is strictly forbidden on the platform especially at the Forum. Defaulters will be given a written warning and if they repeat same act, will have their rights to comment on the Forum revoked</li>
	<li>Experts are to maintain the fundamental human rights of their mentees</li>
	<li>Thebossoffice.com has the right to terminate access, rights and membership to this mentorship programme after a written email/notification has been sent to the mentor/mentee in cases of necessity</li>
	<li>Upon decision to pull out of the mentorship programme, the expert must write to thebossoffice.com stating reason(s) for such decision</li>
</ol>








