<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h2 style="text-align: center; color: #027db3;">Registering as an EXPERT</h2>
		</div>
		<div class="modal-body">
			<div class="panel panel-default" style="padding: 10px;">
				<div class="panel panel-default" style="padding: 10px;">
					<h3><strong>Who Can Apply?</strong></h3>
					<h4>Experts who...</h4>
					<ul>
						<li>have an avid knowledge and/or experience in the industry where they have done business</li>
						<li>are academia and have broad knowledge in any particular field of business (MBAs, MScs, PhDs in any business or specialist in any field)</li>
						<li>are willing to offer business support services to SMEs at very affordable prices</li>
						<li>wish to support entrepreneurs and experience outstanding and long lasting personal and entrepreneurial journey alongside engaging the network of entrepreneurs and mentors in the programme</li>
						<li>are committed to the terms and conditions of <strong>thebossoffice</strong></li>
					</ul>
				</div>
				<div class="panel panel-default" style="padding: 10px;">
					<h3><strong>What is in it for you?</strong></h3>
					<h4>You will...</h4>
					<ul>
						<li>have the opportunity to engage entrepreneurs of your choice and teach them how to grow their business with little or no charges</li>
						<li>have the opportunity to give back to society through business support services at affordable prices</li>
						<li>work on new and exciting challenges to overcome around team building, funding, product development, positioning, pivoting or business development, sales strategy and operations optimization</li>
						<li>grow the SME sector of the economies in Africa to sustainability while earning some profit in return</li>
						<li>pay a commission to thebossoffice as royalty for any business deal won/referred from this platform </li>
						<li>exchange stories about failures, lessons, tips and tricks with <strong>thebossoffice</strong> community.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-block" data-dismiss="modal">Continue</button>
		</div>
	</div>
</div>