<h3>Terms and Conditions For Mentors</h3>
<ol>
	<li>On this platform, a mentor is recommended to adopt a minimum of two and a maximum of four business mentees in the course of one fiscal year</li>
	<li>The objective of this program is to help your mentee’s business grow from its cradle to sustainability</li>
	<li>A mentor is required to give a minimum of one (1) hour a month to the mentee for one year in pursuance of the objective stated in (ii) above</li>
	<li>A mentor has the option of seeking to change a mentee after a genuine reason has been provided why the relationship must be terminated</li>
	<li>All meetings should be planned clearly towards the objective stated in (ii) above and on the curriculum that would be sent upon successful registration</li>
	<li>An evaluation sheet will be filled by the mentee after each meeting which would be sent to you for validation</li>
	<li><strong>Thebossoffice.com</strong> would contact you and your mentee concerning the progress of the mentorship when the need arises</li>
	<li>All meetings should be done in places that do not raise any concerns for both parties</li>
	<li>In cases of misconduct or anomalies, the mentee has the right to contact <strong>Thebossoffice.com</strong> who would take up investigation upon receipt of such reports</li>
	<li>Mentees must not be pressured to patronize corporate services unless through recommendation from <strong>Thebossoffice.com</strong></li>
	<li>Mentors are to refer mentees to thebossofice.com to provide support services when needed</li>
	<li>Mentors are to maintain the fundamental human rights of their mentees</li>
	<li><strong>Thebossoffice.com</strong> has the right to terminate access, rights and membership to this mentorship programme after a written email/notification has been sent to the mentor/mentee in cases of necessity</li>
	<li>Upon decision to pull out of the mentorship programme, the mentor must write to <strong>Thebossoffice.com</strong> stating reason(s) for the decision</li>
</ol>








