<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h2 style="text-align: center; color: #381452;">Registering as a MENTOR</h2>
		</div>
		<div class="modal-body">
			<div class="panel panel-default" style="padding: 10px;">
				<div class="panel panel-default" style="padding: 10px;">
					<h3><strong>Who Can Apply?</strong></h3>
					<h4>Mentors who...</h4>
					<ul>
						<li>have an avid knowledge and/or experience in the industry where they have done business</li>
						<li>are academia and have broad knowledge in any particular field of business</li>
						<li>are willing to volunteer at least one hour monthly to mentoring small business to sustainability</li>
						<li>wish to support entrepreneurs and experience outstanding and long lasting personal and entrepreneurial journey alongside engaging the network of entrepreneurs and mentors in the programme</li>
						<li>are from Nigeria, Ghana and Kenya</li>
						<li>are committed to doing the entire one year mentoring programme with <strong>thebossoffice</strong></li>
					</ul>
				</div>
				<div class="panel panel-default" style="padding: 10px;">
					<h3><strong>What is in it for you?</strong></h3>
					<h4>You will...</h4>
					<ul>
						<li>have the opportunity to engage entrepreneurs of your choice and teach them how to grow their business</li>
						<li>have the opportunity to give back to society through business mentorship</li>
						<li>work on new and exciting challenges to overcome around team building, funding, product development, positioning, pivoting or business development, sales strategy and operations optimization </li>
						<li>connect mentees to opportunities</li>
						<li>exchange stories about failures, lessons, tips and tricks with <strong>thebossoffice</strong> community.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-block" data-dismiss="modal">Continue</button>
		</div>
	</div>
</div>