<h3 style="color: #141852;">Terms and Conditions For Mentees</h3>
<ol>
	<li>On this platform, a mentee is recommended to have a maximum of two business mentors in the course of one fiscal year</li>
	<li>The objective of this program is to help your business grow from its cradle to sustainability</li>
	<li>A mentee will one (1) hour a month from the mentor for one year in pursuance of the objective stated in (ii) above</li>
	<li>A mentee has the option of seeking to change a mentor after a genuine reason has been provided why the relationship must be terminated</li>
	<li>All meetings should be planned clearly towards the objective stated in (ii) above and on the curriculum that would be sent upon successful registration</li>
	<li>An evaluation sheet will be filled by the mentee after each meeting which would be sent to the mentor for validation</li>
	<li>Thebossoffice.com would contact you and your mentor concerning the progress of the mentorship when the need arises</li>
	<li>All meetings must be conducted in mutually agreed locations at agreed times. </li>
	<li>All meetings should be done in places that do not raise any concerns for both parties</li>
	<li>In cases of misconduct or anomalies, the mentee has the right to contact thebossoffice.com who would take up investigation upon receipt of such reports</li>
	<li>Mentees must not be pressured to patronize corporate services unless through recommendation from thebossoffice.com</li>
	<li>Mentees are free to consult thebossofice.com to provide business support services when needed</li>
	<li>Mentees are to respect the fundamental human rights of their mentor</li>
	<li>Thebossoffice.com has the right to terminate access, rights and membership to this mentorship programme after a written email/notification has been sent to the mentor/mentee in cases of necessity</li>
	<li>Upon decision to pull out of the mentorship programme, the mentee must write to thebossoffice.com stating reason(s) for the decision</li>
	<li>Mentees are not allowed to solicit on this platform</li>
</ol>








