<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h2 style="text-align: center; color: #027db3;">Registering as a MENTEE</h2>
		</div>
		<div class="modal-body">
			<div class="panel panel-default" style="padding: 10px;">
				<div class="panel panel-default" style="padding: 10px;">
					<h3><strong>Who Can Apply?</strong></h3>
					<h4>Entrepreneurs who...</h4>
					<ul>
						<li>are beyond concept validation and prototype phase in their market</li>
						<li>want to improve their business operations with insights and best practices from experts and Nigerian mentors and other fast moving entrepreneurs</li>
						<li>wish to experience an outstanding and long lasting personal and entrepreneurial journey alongside engaging the network of entrepreneurs in the programme</li>
						<li>are from Nigeria, Ghana and Kenya</li>
						<li>are committed to doing the entire one year mentoring programme with thebossoffice</li>
					</ul>
				</div>
				<div class="panel panel-default" style="padding: 10px;">
					<h3><strong>What is in it for you?</strong></h3>
					<h4>You will...</h4>
					<ul>
						<li>have the opportunity to engage a mentor of your choice and learn how to grow your business in Africa</li>
						<li>work on new and exciting challenges to overcome around team building, funding, product development, positioning, pivoting or business development, sales strategy and operations optimization</li>
						<li>pitch to an extensive network of partners (corporates, investors, influencers, etc.)</li>
						<li>Belong to a robust network of fellow business owners who want to grow their businesses just like you</li>
						<li>exchange stories about failures, lessons, tips and tricks with thebossoffice community.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-block" data-dismiss="modal">Continue</button>
		</div>
	</div>
</div>