{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<style>
	.modal.fade .modal-dialog {
	    -webkit-transform: scale(0.1);
	    -moz-transform: scale(0.1);
	    -ms-transform: scale(0.1);
	    transform: scale(0.1);
	    top: 500px;
	    opacity: 0;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    transition: all 0.3s;
	}

	.modal.fade.in .modal-dialog {
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	    -webkit-transform: translate3d(0, -300px, 0);
	    transform: translate3d(0, -500px, 0);
	    opacity: 1;
	}
</style>
{% endblock %}
{% block header %}
	<h1>Mentorship Requests</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			{% include 'side_bar.html' %}
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="panel panel-default top-margin">
					<div class="div-header" style="text-align: left;">
						<h3><strong>All Mentorship Requests</strong></h3>
					</div>
					<div class="row" style="padding: 10px;">
						{% for req in requests %}
						<div class="col-md-12">
							<a href="" data-toggle="modal" data-target="#{{notification.id}}">
								<div class="other-detail">
									<h5>{{req.mentee.mentee.name}} of {{req.mentee.mentee.name_of_business}}, under the {{req.mentee.mentee.industry}} category has sent you a mentorship request</h5>
									<h5>{{req.date_created}}</h5>
									<a style="padding: 4px 15px; border-radius: 25px; background: #3b5998; color: #fff;" href="{{req.mentee.mentee.get_absolute_url}}">See Profile Details</a> {% if req.status != "D" and req.status != "A" %}<a style="padding: 4px 15px; border-radius: 25px; background: #1c2; color: #fff;" href="{% url 'mentee:accept' mentee_id=req.mentee.id mentor_id=user.id %}">Accept</a> <a style="padding: 4px 15px; border-radius: 25px; background: #c12; color: #fff;" href="{% url 'mentee:reject' mentee_id=req.mentee.id mentor_id=user.id %}">Reject</a>{% endif %}
								</div>
							</a>
						</div>
						<div class="modal fade" id="{{notification.id}}" tabindex="-1" role="dialog" aria-hidden="true">
						  {% include 'notifications/notification_detail.html' %}
						</div>
						{% empty %}
						<p style="text-align: center; margin: 20px auto;">{% if user.mentee %}You have not sent any mentorship requests yet... {% else %}There are no mentorship requests available for you now. {% endif %}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% if user.is_authenticated %}
				{% include 'expert/trending_expert.html' %}
			{% endif %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	    function alignModal(){
	        var modalDialog = $(this).find(".modal-dialog");
	        /* Applying the top margin on modal dialog to align it vertically center */
	        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
	    }
	    // Align modal when it is displayed
	    $(".modal").on("shown.bs.modal", alignModal);
	    
	    // Align modal when user resize the window
	    $(window).on("resize", function(){
	        $(".modal:visible").each(alignModal);
	    });   
	});
</script>
{% endblock %}