 <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <h2>Our Featured Experts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
          </div>
        </div> 
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="folio-item wow fadeInRightBig animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInRightBig;">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/1.jpg' %}" alt="">
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Time Hours</h3>
                      <p>Design, Photography</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="http://demo.themeum.com/html/oxygen/#" data-single_url="portfolio-single.html"><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="http://demo.themeum.com/html/oxygen/images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="folio-item wow fadeInLeftBig animated" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms; animation-name: fadeInLeftBig;">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/2.jpg' %}" alt="">
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Time Hours</h3>
                      <p>Design, Photography</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="http://demo.themeum.com/html/oxygen/#" data-single_url="portfolio-single.html"><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="http://demo.themeum.com/html/oxygen/images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="folio-item wow fadeInRightBig animated" data-wow-duration="1000ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 500ms; animation-name: fadeInRightBig;">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/3.jpg' %}" alt="">
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Time Hours</h3>
                      <p>Design, Photography</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="http://demo.themeum.com/html/oxygen/#" data-single_url="portfolio-single.html"><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="http://demo.themeum.com/html/oxygen/images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="folio-item wow fadeInLeftBig animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInLeftBig;">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/4.jpg' %}" alt="">
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Time Hours</h3>
                      <p>Design, Photography</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="http://demo.themeum.com/html/oxygen/#" data-single_url="portfolio-single.html"><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="http://demo.themeum.com/html/oxygen/images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="folio-item wow fadeInRightBig animated" data-wow-duration="1000ms" data-wow-delay="700ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInRightBig;">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/5.jpg' %}" alt="">
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Time Hours</h3>
                      <p>Design, Photography</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="http://demo.themeum.com/html/oxygen/#" data-single_url="portfolio-single.html"><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="http://demo.themeum.com/html/oxygen/images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="folio-item wow fadeInLeftBig animated" data-wow-duration="1000ms" data-wow-delay="800ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 800ms; animation-name: fadeInLeftBig;">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/6.jpg' %}" alt="">
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Time Hours</h3>
                      <p>Design, Photography</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="http://demo.themeum.com/html/oxygen/#" data-single_url="portfolio-single.html"><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="http://demo.themeum.com/html/oxygen/images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="folio-item wow fadeInRightBig animated" data-wow-duration="1000ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 900ms; animation-name: fadeInRightBig;">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/7.jpg' %}" alt="">
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Time Hours</h3>
                      <p>Design, Photography</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="http://demo.themeum.com/html/oxygen/#" data-single_url="portfolio-single.html"><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="http://demo.themeum.com/html/oxygen/images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="folio-item wow fadeInLeftBig animated" data-wow-duration="1000ms" data-wow-delay="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 1000ms; animation-name: fadeInLeftBig;">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/8.jpg' %}" alt="">
                <h3 style="padding: 10px; position: absolute; bottom: 0px; text-align: center; left: 0px; color: #fff; width: 100%; background: rgba(0,0,0,0.4);">Pastor, Emmanuel</h3>
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="overlay-text">
                    <div class="folio-info">
                      <h3>Pastor, Emmanuel</h3>
                      <p>Design, Photography</p>
                    </div>
                    <div class="folio-overview">
                      <span class="folio-link"><a class="folio-read-more" href="http://demo.themeum.com/html/oxygen/#" data-single_url="portfolio-single.html"><i class="fa fa-link"></i></a></span>
                      <span class="folio-expand"><a href="http://demo.themeum.com/html/oxygen/images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="portfolio-single-wrap">
        <div id="portfolio-single">
        </div>
      </div><!-- /#portfolio-single-wrap -->
    </section><!--/#portfolio-->