{% load staticfiles %}
<footer id="" style="box-shadow: 1px 0px 6px #3b5998; margin-top: 50px; background: #fff;">
  <div class="row footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div style="text-align: center;">
            <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="" width="70"  height="70">
            <p>Thebossoffice has 700 years cumulative experience in startups and MSMEs support services</p>
          </div>
        </div>
        <div class="col-md-3">
          <div style="text-align: center;">
            <h3><strong>Connect With Us</strong></h3>
            <div class="social-icons">
              <a class="envelope" target="_blank" href="mailto:info@thebossoffice.com"><i class="fa fa-envelope"></i></a>
              <a class="envelope" target="_blank" href="https://www.twitter.com/@thebossofficeng"><i class="fa fa-twitter"></i></a>
              <a class="envelope" target="_blank" href="https://www.linkedin.com/thebossoffice"><i class="fa fa-linkedin"></i></a>
              <a class="envelope" target="_blank" href="https://www.instagram.com/thebossofficeng"><i class="fa fa-instagram"></i></a>
              <a class="envelope" target="_blank" href="https://www.facebook.com/thebossofficeng"><i class="fa fa-facebook"></i></a>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <h3><strong>About</strong></h3>
            <ul class="about-link">
              <li><a href="">About Us</a></li>
              <li><a href="">Meet the Team</a></li>
              <li><a href="">Our Core Values</a></li>
              <li><a href="">FAQs</a></li>
            </ul>
        </div>
        <div class="col-md-3">
          <h3 style="color: #3b5998;"><strong>thebossoffice</strong></h3>
          <h5>Mentorship | Business Success</h5>
          <p>
            “Give me a fish, you would have fed me a day. Teach me to fish, you would have fed me for life”<strong>―African Proverb</strong>
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background: #163356; color: #fff; margin-top: 10px;">
    <div class="container">
      <div class="row" style="margin: 10px auto;">
        <div class="col-md-4"></div>
        <div class="col-sm-4">
          <p>© 2017 THEBOSSOFFICE.COM. All Rights Reserved</p>
        </div>
        <div class="col-sm-4">
          <a href="">Terms</a> |
          <a href="">Privacy Policy</a> |
          <a href="">About Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>