{% load staticfiles %}
<footer id="" style="box-shadow: 1px 0px 6px #3b5998; margin-top: 50px; background: #fff;">
  <div class="row footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div style="text-align: center;">
            <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="" width="70"  height="70">
            <p>Thebossoffice has 700 years cumulative experience in startups and MSMEs support services</p>
          </div>
        </div>
        <div class="col-md-3">
          <div style="">
            <h3><strong>Connect With Us</strong></h3>
            <div class="social-icons">
              <a href="https://twitter.com/thebossofficeng?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true"> </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div>
              <div class="fb-follow" data-href="https://web.facebook.com/thebossofficeng/" data-layout="button_count" data-size="small" data-show-faces="true"></div>
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11';
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <h3><strong>About</strong></h3>
            <ul class="about-link">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="">Meet the Team</a></li>
              <li><a href="{% url 'about' %}#core_values">Our Core Values</a></li>
              <li><a href="">FAQs</a></li>
            </ul>
        </div>
        <div class="col-md-3">
          <h3 style="color: #3b5998;"><strong>thebossoffice</strong></h3>
          <h5>Mentorship | Business Success</h5>
          <p>
            “Give me a fish, you would have fed me a day. Teach me to fish, you would have fed me for life”<strong>―African Proverb</strong>
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background: #163356; color: #fff; margin-top: 10px;">
    <div class="container">
      <div class="row" style="margin: 10px auto;">
        <div class="col-md-4"></div>
        <div class="col-sm-4">
          <p>© 2017 THEBOSSOFFICE.COM. All Rights Reserved</p>
        </div>
        <div class="col-sm-4">
          <a href="">Terms</a> |
          <a href="">Privacy Policy</a> |
          <a href="">About Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>