{% load staticfiles %}

<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        {% if user.is_authenticated %}
        <a href="{% url 'mentee:mentee-list' %}"><img src="{% static 'images/logo.png' %}" alt="thebossoffice.com"></a>
        {% else %}
         <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="thebossoffice.com"></a>
         {% endif %}
        <div class="search-bar">
          <input type="text" placeholder="Search Here">
        </div>
      </div>
      <div class="col-sm-6">
        <ul>                     
          <a href="{% url 'expert:expert-list' %}"><li class="scroll"><i class="fa fa-group"></i><br>Meet An Expert</li></a>
          <a href="{% url 'mentor:mentor-list' %}"><li class="scroll"><i class="fa fa-list"></i><br>See All Mentors</li></a>
          <a href="{% url 'mentee:mentee-list' %}"><li class="scroll"><i class="fa fa-list"></i><br>See All Mentees</li></a>
          <a href="{% url 'about' %}"><li class="scroll"><i class="fa fa-info"></i><br>About Us</li></a>
          {% if user.is_authenticated %}
          <a href=""><li class="scroll"><i class="fa fa-bell"></i><br>Notifications</li></a>
          {% else %}
          <a href=""><li class="scroll"><i class="fa fa-tablet"></i><br>How It Works</li></a>
          {% endif %}
        </ul>
      </div>
      <div class="col-sm-2" style="padding-left: 5px;">
        <div class="nav-reg">
          {% if user.is_authenticated %}
            <a id="user" href="">{{user.last_name}} <i class="fa fa-chevron-down"></i></a>
          
          <div class="drop-menu">
            <span></span>
            <div class="panel panel-default">
              <ul>
                <li><a href="">Account Settings</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Chat with your mentor</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <ul>
                <li><a href="{% url 'logout' %}">Sign out</a></li>
              </ul>
            </div>
          </div>
          {% else %}
          <a href="{% url 'user_login' %}">Log In</a>
          <a href="{% url 'accounts:signup' %}?user_type=unknown">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 50px;"></div>