{% load static %}

<div class="panel panel-default top-margin">
	<div class="aside-info">
		<a href="">About</a>
		<a href="">FAQs</a>
		<a href="">Privacy Policy</a>
		<a href="">Ads</a>
		<a href="">NewsRoom</a>
		<a href="">Brand</a>
		<a href="">Business Development</a>
		<a href="">Business Tips</a>
		<a href="">Advertising</a>
		<a href="">Latest Services</a>
		<div style="text-align: center; margin-top: 15px; border-top: 1px solid #f1f1f1; padding-top: 6px;">
			<img src="{% static 'images/logo.png' %}" alt="thebossoffice.com" width="20" height="20">
			<span style="font-size: 10px; color: #c1c1c1;">© 2017 THEBOSSOFFICE.COM. All Rights Reserved</span>
		</div>
	</div>
</div>