{% load staticfiles %}
<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner" style="height: 615px;">
    <div class="item" style="background-image: url('{% static 'images/mentor.jpg' %}'); height: 615px !important;">
      <div class="caption">
        <h1 class="animated fadeInLeftBig">We <span class="mark-head">TRAIN</span></h1>
        <p class="animated fadeInRightBig head-p">We bring you close enough to mentors that can collaborate with you to  achieve that dream</p>
        <a data-scroll="" class="btn btn-start animated fadeInUpBig" href="#">Meet an Expert Now</a>
      </div>
    </div>
    <div class="item" style="background-image: url('{% static 'images/mentee.jpg' %}'); height: 615px !important;">
      <div class="caption">
        <h1 class="animated fadeInLeftBig ">THEBOSSOFFICE.COM</h1>
        <p class="animated fadeInRightBig">Mentorship | Business Success</p>
        <a data-scroll="" class="btn btn-start animated fadeInUpBig" href="">See How it Works &raquo;</a>
      </div>
    </div>
    <div class="item active" style="background-image: url('{% static 'images/work.jpg' %}'); height: 615px !important;">
      <div class="caption">
        <h1 class="animated fadeInLeftBig">This is <span class="mark-head">thebossoffice</span></h1>
        <p class="animated fadeInRightBig">Mentorship | Business Success</p>
        <a data-scroll="" class="btn btn-start animated fadeInUpBig" href="{% url 'accounts:signup' %}?user_type=mentee">Apply as a Mentee</a>
         <a data-scroll="" class="btn btn-start animated fadeInUpBig" href="{% url 'accounts:signup' %}?user_type=mentor">Apply as a Mentor</a>
      </div>
    </div>
  </div>
  <a class="left-control" href="http://demo.themeum.com/html/oxygen/#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
  <a class="right-control" href="http://demo.themeum.com/html/oxygen/#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

  <a id="tohash" href="http://demo.themeum.com/html/oxygen/#services"><i class="fa fa-angle-down"></i></a>
  </div><!-- end of home slider -->