<!DOCTYPE html> 

 {% load static thumbnail %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
<style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>thebossofice.com</title>
  
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min(1).css' %}" rel="stylesheet">
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/animation.css' %}" rel="stylesheet">
  <link href="{% static 'css/style6.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  
  
  
  <style type="text/css">

      @font-face {
          font-family: Candara;
          src: url("{% static 'fonts/Candara.ttf' %}");
      }

    .gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }

      #about-us {
        background-image: url("{% static '/images/about.jpg' %}"), ;
        padding: 60px 0;
      }
      #twitter {
        background-image: url("{% static 'images/tweets.jpg' %}");
        padding-bottom: 12px;
      }
      #contact-us {
        background-image:url("{% static 'images/contact.jpg' %}");
      }
      .sub input, select {
        padding: 7px 15px;
        width: 100%;
        border: none;
        height: 28px;
        border-bottom: 1px solid  #ecf0f1;
        box-shadow: none;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }
	</style>
	</head><!--/head-->

  <body>

    <!--.preloader-->
    
    <!--/.preloader-->
    {% if messages %}
      {% for message in messages %}
      <div id="notification" class="alert-{{message.tags}}" style="">
        <div><span onclick="hideMe()">&times;</span></div>
        <h4><strong>{{message.tags|title}}</strong></h4>
        <h5>{{ message }}</h5>
      </div>
      {% endfor %}
    {% endif %}
    <header id="home">
      {% include '_slider.html' %}

      {% include '_navbar.html' %}
    </header><!--/#home-->
    <section  id="services">
      <div class="container">
        <div class="wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
          <div class="row">
            <div class="text-center col-sm-8 col-sm-offset-2">
              <h2><strong>Business Support Services</strong></h2>
              <p>At the THEBOSSOFFICE.COM, we support startups and SMEs with the following business services. </p>
            </div>
          </div> 
        </div>
        <div class="text-center our-services">
          <div class="row">
            <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
              <!-- <div class="service-icon">
                <i class="fa fa-flask"></i>
              </div> -->
              <h2 class="ch-head">What’s wrong with my business?</h2>
              <div class="ch-item ch-img-2">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-2"></div>
                      <div class="ch-info-back">
                        <h3>What’s wrong with my business?</h3>
                          <p>We thoroughly review business operations and the books to determine the health of the business and make recommendations. Apart from recommendation, we render services to SMEs in the following aspects;
                          <a href="{% url 'expert:expert-list' %}">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="450ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 450ms; animation-name: fadeInDown;">
              <!-- <div class="service-icon">
                <i class="fa fa-umbrella"></i>
              </div> -->
              <h2 class="ch-head">Improve Business Processes</h2>
              <div class="ch-item ch-img-3">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-3"></div>
                      <div class="ch-info-back">
                        <h3>Need to do things better</h3>
                          <p>We offer operations optimization services to SMEs to improve their business processes to attain better efficiencies and optimum performances
                          <a href="{% url 'expert:expert-list' %}">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="550ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 550ms; animation-name: fadeInDown;">
              <!-- <div class="service-icon">
                <i class="fa fa-cloud"></i>
              </div> -->
              <h2 class="ch-head">Business templates</h2>
              <div class="ch-item ch-img-6">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-6"></div>
                      <div class="ch-info-back">
                        <h3>Business templates</h3>
                          <p>As part of the support services we render, business templates will be available for download on our website. These would be paid for by SMEs. The templates would cover all business aspects
                          <a href="{% url 'expert:expert-list' %}">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="650ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 650ms; animation-name: fadeInUp;">
              <!-- <div class="service-icon">
                <i class="fa fa-coffee"></i>
              </div> -->
              <h2 class="ch-head">Logo design</h2>
              <div class="ch-item ch-img-5">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-5"></div>
                      <div class="ch-info-back">
                        <h3>Logo Design</h3>
                          <p>We design highly interactive logos. Our logo is a typical example.
                          <a href="{% url 'expert:expert-list' %}">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="750ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 750ms; animation-name: fadeInUp;">
              <!-- <div class="service-icon">
                <i class="fa fa-bitbucket"></i>
              </div> -->
              <h2 class="ch-head">Marketing/Branding</h2>
              <div class="ch-item ch-img-4">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-4"></div>
                      <div class="ch-info-back">
                        <h3>Marketing/Branding</h3>
                          <p>Our experts can transform your business from one ordinary business to the spotlight when we’re engaged. We have professional industry experts that can transform your business
                          <a href="{% url 'expert:expert-list' %}">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="750ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 750ms; animation-name: fadeInUp;">
              <!-- <div class="service-icon">
                <i class="fa fa-bitbucket"></i>
              </div> -->
              <h2 class="ch-head">Business plan</h2>
              <div class="ch-item ch-img-1">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-1"></div>
                      <div class="ch-info-back">
                        <h3>Business plan</h3>
                          <p>Most small businesses do not have business plans thus at the preliminary stages of the mentorship program, we encourage the mentors to demand for a business plan so that sustainability plan can be checked. To this end, we provide free templates and paid business plan services for SMEs
                          <a href="{% url 'expert:expert-list' %}">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#services-->
    <section>
      <div class="row" style="background: #3b5998; height: 150px;">
        <div class="col-md-6" style="text-align: center;">
          <h2 style="color: #fff; margin: 40px auto;">You can get more updates from thebossoffice.com</h2>
        </div>
        <div class="col-md-6">
          <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 500ms; animation-name: none;">
            <a data-target="#subscribe" data-toggle="modal" class="btn btn-loadmore" style="color: #f6f6f6;"><i class="fa fa-repeat" ></i> Sign Up For a Free Newsletter</a>
          </div> 
        </div>
        <div class="modal fade sub" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          {% include 'newsletters/_new_subscription.html' %}
        </div>
      </div>
    </section>
    <section>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6" style="text-align: left; font-size: 17px; padding: 0 5px;">
               <h3 style="font-size: 24px; margin-top: 0;"><strong>OUR PASSION IS FUELED BY WHAT RESEARCH HAS SHOWN…</strong></h3>
              <ol style="line-height: 40px;">
                <li>Why does only 73% of Startups in Nigeria fold up before their third year?</li>
                <li>Why do 20 million startups die within their first three years?</li>
                <li>Do you know that Nigeria’s MSMEs employ about 80% of her workforce?</li>
                <li>Do you know 30 million Nigerians are un(der)employed as at December 2016?</li>
                <li>Why do only less than 5% of Nigeria MSMEs grow into big businesses?</li>
              </ol>
            </div>
            <div id="twitter" class="parallax col-sm-6 wow fadeIn animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeIn;">
              <div class="twitter-icon text-center">
                <i class="fa fa-twitter"></i>
                <h4>thebossoffice.com</h4>
              </div>
              <div class="social-icons">
                  <a href="https://twitter.com/thebossofficeng?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true"> </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div> 
              <div id="twitter-carousel" class="" data-ride="">
                <a class="twitter-timeline" 
                data-height="150" 
                data-chrome="noheader"
                data-aria-polite="assertive"
                data-tweet-limit="2"href="https://twitter.com/thebossofficeng?ref_src=twsrc%5Etfw">Tweets by thebossofficeng</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#twitter-->

    <section id="blog">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1200ms; animation-delay: 300ms; animation-name: none;">
            <h2>Blog Posts</h2>
          </div>
        </div>
        <div class="blog-posts">
          <div class="row">
            {% for post in recent_posts %}
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 400ms; animation-name: none;">
              <div class="post-thumb">
                <a href="{% url 'newsroom:news-detail' slug=post.slug %}">
                  {% thumbnail post.illustration "370x150" crop="center" as im %}
                  <img class="img-responsive" src="{{im.url}}" alt="">
                  {% endthumbnail %}
                </a> 
                <div class="post-icon">
                  <i class="fa fa-pencil"></i>
                </div>
              </div>
              <div class="entry-header">
                <h3><a href="{% url 'newsroom:news-detail' slug=post.slug %}">{{post.title}}</a></h3>
                <span class="date">by {{post.author.name}} | {{post.date_created}}</span>
              </div>
            </div>
            {% endfor %}                    
          </div>               
        </div>
      </div>
    </section><!--/#blog-->

    <section id="contact">
      
      <div id="contact-us" class="parallax">
        <div class="row" style="background: rgba(0,0,0,0.8);">
          <div class="container">
          <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
              <h2>Contact Us</h2>
              <h3></h3>
            </div>
          </div>
          <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;">
            <div class="row">
              <div class="col-sm-5 contact-us">
                <form method="post" action="{% url 'contact:contact' %}">{% csrf_token %}
                  <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                  </div>
                  <div class="form-group">
                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                  </div>                        
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Send Now</button>
                  </div>
                </form>   
              </div>
              <div class="col-sm-7 ">
                <div class="contact-info wow fadeInUp" style="font-size: 18px;" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
                  <p></p>
                  <ul class="address">
                    <li><i class="fa fa-map-marker"></i> <span> Address: </span> #50 Homewell Estate, Ajah, Lagos </li>
                    <li><i class="fa fa-phone"></i> <span> Phone: </span> (+234) 8131 006 373  </li>
                    <li><i class="fa fa-envelope"></i> <span> Email: </span><a href="mailto:info@thebossoffice.com"> info@thebossoffice.com</a></li>
                    <li><i class="fa fa-globe"></i> <span> Website: </span> <a href="http://www.thebossoffice.com">www.thebossoffice.com</a></li>
                  </ul>
                </div>                            
              </div>
            </div>
          </div>
        </div
        </div>>
      </div>        
    </section><!--/#contact-->
    {% include '_footer.html' %}

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script> 
    <script>
      function hideMe(){
          $("#notification").hide('slideUp');
        }

        setTimeout(function() {
            $("#notification").slideUp(1000)
          }, 6000);
    </script>
    <script>
      !function() {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
        t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n;
            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e, n, o, i;
          e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
          n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('7bvn8di3b5rw');
      </script>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
 </body>
</html>