<!DOCTYPE html> 

 {% load static thumbnail %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
<style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>thebossofice.com</title>
  
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min(1).css' %}" rel="stylesheet">
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/animation.css' %}" rel="stylesheet">
  <link href="{% static 'css/style6.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  
  
  
  <style type="text/css">

      @font-face {
          font-family: Candara;
          src: url("{% static 'fonts/Candara.ttf' %}");
      }

    .gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }

      #about-us {
        background-image: url("{% static '/images/about.jpg' %}"), ;
        padding: 60px 0;
      }
      #twitter {
        background-image: url("{% static 'images/tweets.jpg' %}");
        padding-bottom: 120px;
      }
      #contact-us {
        background-image:url("{% static 'images/contact.jpg' %}");
      }
	</style>
	</head><!--/head-->

  <body>

    <!--.preloader-->
    
    <!--/.preloader-->

    <header id="home">
      {% include '_slider.html' %}

      {% include '_navbar.html' %}
    </header><!--/#home-->
    <section id="services">
      <div class="container">
        <div class="wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
          <div class="row">
            <div class="text-center col-sm-8 col-sm-offset-2">
              <h2><strong>Business Support Services</strong></h2>
              <p>At the THEBOSSOFFICE.COM, we support startups and SMEs with the following business services. </p>
            </div>
          </div> 
        </div>
        <div class="text-center our-services">
          <div class="row">
            <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
              <!-- <div class="service-icon">
                <i class="fa fa-flask"></i>
              </div> -->
              <h2 class="ch-head">What’s wrong with my business?</h2>
              <div class="ch-item ch-img-2">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-2"></div>
                      <div class="ch-info-back">
                        <h3>What’s wrong with my business?</h3>
                          <p>We thoroughly review business operations and the books to determine the health of the business and make recommendations. Apart from recommendation, we render services to SMEs in the following aspects;
                          <a href="">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="450ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 450ms; animation-name: fadeInDown;">
              <!-- <div class="service-icon">
                <i class="fa fa-umbrella"></i>
              </div> -->
              <h2 class="ch-head">Need to do things better</h2>
              <div class="ch-item ch-img-3">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-3"></div>
                      <div class="ch-info-back">
                        <h3>Need to do things better</h3>
                          <p>We offer operations optimization services to SMEs to improve their business processes to attain better efficiencies and optimum performances
                          <a href="">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="550ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 550ms; animation-name: fadeInDown;">
              <!-- <div class="service-icon">
                <i class="fa fa-cloud"></i>
              </div> -->
              <h2 class="ch-head">Business templates</h2>
              <div class="ch-item ch-img-6">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-6"></div>
                      <div class="ch-info-back">
                        <h3>Business templates</h3>
                          <p>As part of the support services we render, business templates will be available for download on our website. These would be paid for by SMEs. The templates would cover all business aspects
                          <a href="">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="650ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 650ms; animation-name: fadeInUp;">
              <!-- <div class="service-icon">
                <i class="fa fa-coffee"></i>
              </div> -->
              <h2 class="ch-head">Logo design</h2>
              <div class="ch-item ch-img-5">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-5"></div>
                      <div class="ch-info-back">
                        <h3>Logo Design</h3>
                          <p>We design highly interactive logos. Our logo is a typical example.
                          <a href="">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="750ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 750ms; animation-name: fadeInUp;">
              <!-- <div class="service-icon">
                <i class="fa fa-bitbucket"></i>
              </div> -->
              <h2 class="ch-head">Marketing/Branding</h2>
              <div class="ch-item ch-img-4">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-4"></div>
                      <div class="ch-info-back">
                        <h3>Marketing/Branding</h3>
                          <p>Our experts can transform your business from one ordinary business to the spotlight when we’re engaged. We have professional industry experts that can transform your business
                          <a href="">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="750ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 750ms; animation-name: fadeInUp;">
              <!-- <div class="service-icon">
                <i class="fa fa-bitbucket"></i>
              </div> -->
              <h2 class="ch-head">Business plan</h2>
              <div class="ch-item ch-img-1">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                      <div class="ch-info-front ch-img-1"></div>
                      <div class="ch-info-back">
                        <h3>Business plan</h3>
                          <p>Most small businesses do not have business plans thus at the preliminary stages of the mentorship program, we encourage the mentors to demand for a business plan so that sustainability plan can be checked. To this end, we provide free templates and paid business plan services for SMEs
                          <a href="">Meet an Expert &raquo;</a>
                          </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#services-->
    <section id="team" style="margin-top: 40px;">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <h1><strong>Meet The Team</strong></h1>
            <h3>Thebossoffice has 700 years cumulative experience in startups and MSMEs support services.<br> 
            </h3>
            <p>Feel free to contact us:</p>
          </div>
        </div>
         <hr>
        <div class="team-members">
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="team-member wow flipInY animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: flipInY;">
                <div class="member-image">
                  <img class="img-responsive" src="{% static 'images/tereigh.jpg' %}" alt="">
                </div>
                <div class="member-info">
                  <h3>Tereigh Ozakpo</h3>
                  <h4>Head, Strategy</h4>
                  <p>Tereigh is passionate about success, especially business success. 
                  He is an avid business development consultant
                  </p>
                  <p>tereigh.o@thebossoffice.com</p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li><a class="facebook" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="dribbble" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="rss" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="team-member wow flipInY animated" data-wow-duration="1000ms" data-wow-delay="1100ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 1100ms; animation-name: flipInY;">
                <div class="member-image">
                  <img class="img-responsive" src="{% static '/images/bunmi.png' %}" alt="">
                </div>
                <div class="member-info">
                  <h3>Kenechukwu Udeh</h3>
                  <h4>Partner</h4>
                  <p>Kenechukwu is an associate of McKinsey & Company. He has passion for consulting and solutions for business optimization</p>
                  <p>kene.u@thebossoffice.com</p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li><a class="facebook" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="dribbble" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="rss" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="team-member wow flipInY animated" data-wow-duration="1000ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 500ms; animation-name: flipInY;">
                <div class="member-image">
                  <img class="img-responsive" src="{% static '/images/lawretta.jpg' %}" alt="">
                </div>
                <div class="member-info">
                  <h3>Lawretta  Maduegbunam</h3>
                  <h4>Head, Legal/HR</h4>
                  <p>Barrister Lawretta  has experience across three continents in Legal services. She has great interest in the MSMEs sector</p>
                  <p>lawretta.m@thebossoffice.com</p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li><a class="facebook" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="dribbble" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="rss" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="team-member wow flipInY animated" data-wow-duration="1000ms" data-wow-delay="1100ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 1100ms; animation-name: flipInY;">
                <div class="member-image">
                  <img class="img-responsive" src="{% static '/images/bunmi.png' %}" alt="">
                </div>
                <div class="member-info">
                  <h3>Bunmi Jembola</h3>
                  <h4>Head, Mentor Mgt</h4>
                  <p>Bunmi resigned from one of the leading banks in Nigeria to start Venture Starter so as to support MSMEs in Nigeria</p>
                  <p>bunmi.j@thebossoffice.com</p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li><a class="facebook" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="dribbble" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="rss" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="team-member wow flipInY animated" data-wow-duration="1000ms" data-wow-delay="1100ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 1100ms; animation-name: flipInY;">
                <div class="member-image">
                  <img class="img-responsive" src="{% static '/images/bunmi.png' %}" alt="">
                </div>
                <div class="member-info">
                  <h3>Tobi Ricketts</h3>
                  <h4>Head, Mentee Mgt</h4>
                  <p>Tobi connects small business owners, start-ups and entrepreneurs to an eco-system where they can succeed the hurdles of doing business</p>
                  <p>jeremiah.o@thebossoffice.com</p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li><a class="facebook" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="dribbble" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="rss" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="team-member wow flipInY animated" data-wow-duration="1000ms" data-wow-delay="800ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 800ms; animation-name: flipInY;">
                <div class="member-image">
                  <img class="img-responsive" src="{% static '/images/jerry.jpg' %}" alt="">
                </div>
                <div class="member-info">
                  <h3>Jerry Ogunbaro</h3>
                  <h4>Head, Brand/Comms</h4>
                  <p>Jerry is an avid graphics designer and media marketing expert. 
                  He has led PR units for reputable companies in Nigeria</p>
                  <p>jeremiah.o@thebossoffice.com</p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li><a class="facebook" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="dribbble" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="rss" href="http://demo.themeum.com/html/oxygen/#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>            
      </div>
    </section><!--/#team-->

    <section>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6" style="text-align: left; font-size: 17px; padding: 0 5px;">
               <h3 style="font-size: 24px; margin-top: 0;"><strong>OUR PASSION IS FUELED BY WHAT RESEARCH HAS SHOWN…</strong></h3>
              <img src="{% static 'images/logo.png' %}" alt="thebossoffice" style="float: left;" width="220" height="220">
              <ol style="line-height: 20px;">
                <li>Why does only 73% of Startups in Nigeria fold up before their third year?</li>
                <li>Why do 20 million startups die within their first three years?</li>
                <li>Do you know that Nigeria’s MSMEs employ about 80% of her workforce?</li>
                <li>Do you know 30 million Nigerians are un(der)employed as at December 2016?</li>
                <li>Why do only less than 5% of Nigeria MSMEs grow into big businesses?</li>
              </ol>
            </div>
            <div id="twitter" class="parallax col-sm-6 wow fadeIn animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeIn;">
              <div class="twitter-icon text-center">
                <i class="fa fa-twitter"></i>
                <h4>thebossoffice.com</h4>
              </div>
              <div id="twitter-carousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                  <li data-target="#twitter-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#twitter-carousel" data-slide-to="1" class=""></li>
                  <li data-target="#twitter-carousel" data-slide-to="2" class=""></li>
                </ol><!-- /.carousel-indicators -->

                <div class="carousel-inner">
                  <div class="item active">
                    <p>Introducing Shortcode generator for Helix V2 based templates <a href="http://demo.themeum.com/html/oxygen/#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
                  </div>
                  <div class="item">
                    <p>Introducing Shortcode generator for Helix V2 based templates <a href="http://demo.themeum.com/html/oxygen/#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
                  </div>
                  <div class="item">                                
                    <p>Introducing Shortcode generator for Helix V2 based templates <a href="http://demo.themeum.com/html/oxygen/#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
                  </div>
                </div>                        
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#twitter-->

    <section id="blog">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1200ms; animation-delay: 300ms; animation-name: none;">
            <h2>Blog Posts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
          </div>
        </div>
        <div class="blog-posts">
          <div class="row">
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 400ms; animation-name: none;">
              <div class="post-thumb">
                <a href="http://demo.themeum.com/html/oxygen/#"><img class="img-responsive" src="" alt=""></a> 
                <div class="post-meta">
                  <span><i class="fa fa-comments-o"></i> 3 Comments</span>
                  <span><i class="fa fa-heart"></i> 0 Likes</span> 
                </div>
                <div class="post-icon">
                  <i class="fa fa-pencil"></i>
                </div>
              </div>
              <div class="entry-header">
                <h3><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
                <span class="date">June 26, 2014</span>
                <span class="cetagory">in <strong>Photography</strong></span>
              </div>
              <div class="entry-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;">
              <div class="post-thumb">
                <div id="post-carousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#post-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#post-carousel" data-slide-to="2" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <a href=""><img class="img-responsive" src="" alt=""></a>
                    </div>
                    <div class="item">
                      <a href=""><img class="img-responsive" src="" alt=""></a>
                    </div>
                    <div class="item">
                      <a href=""><img class="img-responsive" src="" alt=""></a>
                    </div>
                  </div>                               
                  <a class="blog-left-control" href="http://demo.themeum.com/html/oxygen/#post-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                  <a class="blog-right-control" href="" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>                            
                <div class="post-meta">
                  <span><i class="fa fa-comments-o"></i> 3 Comments</span>
                  <span><i class="fa fa-heart"></i> 0 Likes</span> 
                </div>
                <div class="post-icon">
                  <i class="fa fa-picture-o"></i>
                </div>
              </div>
              <div class="entry-header">
                <h3><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
                <span class="date">June 26, 2014</span>
                <span class="cetagory">in <strong>Photography</strong></span>
              </div>
              <div class="entry-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 800ms; animation-name: none;">
              <div class="post-thumb">
                <a href=""></a>
                <div class="post-meta">
                  <span><i class="fa fa-comments-o"></i> 3 Comments</span>
                  <span><i class="fa fa-heart"></i> 0 Likes</span> 
                </div>
                <div class="post-icon">
                  <i class="fa fa-video-camera"></i>
                </div>
              </div>
              <div class="entry-header">
                <h3><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
                <span class="date">June 26, 2014</span>
                <span class="cetagory">in <strong>Photography</strong></span>
              </div>
              <div class="entry-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>                    
          </div>
          <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 500ms; animation-name: none;">
            <a href="http://demo.themeum.com/html/oxygen/#" class="btn btn-loadmore"><i class="fa fa-repeat"></i> Sign Up For a Free Newsletter</a>
          </div>                
        </div>
      </div>
    </section><!--/#blog-->

    <section id="contact">
      
      <div id="contact-us" class="parallax">
        <div class="row" style="background: rgba(0,0,0,0.8);">
          <div class="container">
          <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
              <h2>Contact Us</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</h3>
            </div>
          </div>
          <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;">
            <div class="row">
              <div class="col-sm-5 contact-us">
                <form id="main-contact-form" name="contact-form" method="post" action="">
                  <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                  </div>
                  <div class="form-group">
                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                  </div>                        
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Send Now</button>
                  </div>
                </form>   
              </div>
              <div class="col-sm-7 ">
                <div class="contact-info wow fadeInUp" style="font-size: 18px;" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;">
                  <p></p>
                  <ul class="address">
                    <li><i class="fa fa-map-marker"></i> <span> Address:</span> </li>
                    <li><i class="fa fa-phone"></i> <span> Phone:</span>   </li>
                    <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:info@thebossoffice.com"> info@thebossoffice.com</a></li>
                    <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="http://www.thebossoffice.com">www.thebossoffice.com</a></li>
                  </ul>
                </div>                            
              </div>
            </div>
          </div>
        </div
        </div>>
      </div>        
    </section><!--/#contact-->
    {% include '_footer.html' %}

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script> 
 </body>
</html>