{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block header %}
<h2>Change Your Password</h2>
{% endblock %}

{% block content %}
<<div class="container">
	<div class="row">
		<div class="col-md-3">
			{% include 'side_bar.html' %}
		</div>
		<div class="col-md-6" style="padding-left: 0; padding-right: 0;">
			<div class="panel panel-default top-margin">
				<form method="post" style="padding: 10px 15px;">{% csrf_token %}
						{% for field in form %}
							<div class="form-group">
								<p>{{ field.errors }}</p>
								<label for="field.id_for_label">{{ field.label }}</label>
								<input id="{{field.id_for_label}}" type="password" name="{{field.html_name}}" class="text-input form-control">
							</div>
						{% endfor %}
						<div class="form-group" style="margin: 0px; padding: 0px; padding-top: 10px; border-top: 1px solid #f1f1f1;">
							<button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
							<a href="{% url 'mentee:mentee-list' %}"><button type="button" class="btn btn-sm btn-danger">Cancel</button></a>
						</div>
				</form>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'expert/trending_expert.html' %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>

{% endblock %}


{% block side %}
<div class="mobile-hide"></div>
{% endblock %}