{% extends 'base.html' %}

{% load static record_filters %}
{% block slide %}
<div class="i_gt">
    <h2 style="color: #00aee6;"><strong>We greet you in {{greet|get_dict_values:"tribe"}} language: <em>{{greet|get_dict_values:"greeting"}}!</em></h2>
<h2><strong>Reset Password</strong></h2>
</div>
{% endblock %}
{% block content %}
<div class="row" style="height: 85px;">
    
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 center-block">
            <div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="controls">
                        {% if form.errors %}
                            <p style="text-align: center; color: #c12;">An error occurred. Please make sure you entered a valid email address</p>
                            {% endif %}
                            <form method= 'post' >{% csrf_token %}
                                {% for field in form %}
                                <label for="{{field.id_for_label}}">Email:</label>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="{{field.html_name}}" id="{{field.id_for_label}}" placeholder="Email address">
                                </div>
                                {% endfor %}
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Reset Password</button>
                                   <input type="hidden" name="next" value="{{ next }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}