{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
<style>
    #login-div {
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.4),rgba(59,89,152,0.8)), url("{% static 'images/login.jpg' %}");
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 90vh;
    overflow: hidden;
  }
  #login-div input {
    background: #fff;
    height: 35px;
    border-radius: 17px;
    border-color: #3b5998;  
  }
  .sub-panel {
    margin-bottom: 10px;
    border-bottom: 1px solid #ecf0f1;
  }
  .btn-primary:hover {
    background: #3b5998 !important;
  }
</style>
{% endblock %}
{% block mainbar %}{% endblock %}

{% block content %}
<div id="login-div" class="row">
  <div class="col-md-6 center-block">
      <div class="panel panel-default" style="margin-top: 150px; padding: 15px; box-shadow: 1px 5px 4px rgba(0,0,0,0.7), 2px 5px 6px rgba(0,0,0,0.3);">
        <div class="sub-panel" style="text-align: center;">
          <h2>Password Reset</h2>
        </div>
        <form id="login" method= 'post' >{% csrf_token %}
            {% for field in form %}
            <label for="{{field.id_for_label}}">Email:</label>
            <div class="form-group">
                <input class="form-control" type="email" name="{{field.html_name}}" id="{{field.id_for_label}}" placeholder="Email address">
            </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Reset Password</button>
                <button type="button" class="btn btn-danger" onclick="location.href='{% url 'user_login' %}'">Cancel</button>
               <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}
{% block footer %}{% endblock %}