{% load staticfiles thumbnail %}

{% if user.is_authenticated %}
	{% if user.mentee %}
	<div class="panel panel-default top-margin">
		<div class="bg-pane">
		</div>
		<div class="profile">
			{% if user.mentee.photo %}
				{% thumbnail user.mentee.photo "80x80" crop="top" as im %}
				<img src="{{im.url}}" alt="">
				{% endthumbnail %}
			{% else %}
			<img src="{% static 'images/avatar.png' %}" alt="">
			{% endif %}
			<a href="{{user.mentee.get_absolute_url}}"><h3>{{user.mentee.name}}</h3></a>
			<h5>{% if user.mentee.name_of_business %}{{user.mentee.name_of_business}}{% else%}Set Your <strong>Business Name</strong>{%endif%}</h5>
			<hr>
			<h5><strong>Address: </strong>{% if user.mentee.address %}{{user.mentee.address}}{%else%}Set Your Address Here{%endif%}</h5>
		</div>
	</div>
	{% endif %}
	{% if user.mentor %}
	<div class="panel panel-default top-margin">
		<div class="bg-pane">
		</div>
		<div class="profile">
			{% if user.mentor.photo %}
				{% thumbnail user.mentor.photo "80x80" crop="top" as im %}
				<img src="{{im.url}}" alt="">
				{% endthumbnail %}
			{% else %}
			<img src="{% static 'images/avatar.png' %}" alt="">
			{% endif %}
			<a href="{{user.mentor.get_absolute_url}}"><h3>{{user.mentor.name}}</h3></a>
			<hr>
		</div>
	</div>
	{% endif %}
	{% if user.expert %}
	<div class="panel panel-default top-margin">
		<div class="bg-pane">
		</div>
		<div class="profile">
			{% if user.expert.photo %}
				{% thumbnail user.expert.photo "80x80" crop="top" as im %}
				<img src="{{im.url}}" alt="">
				{% endthumbnail %}
			{% else %}
			<img src="{% static 'images/avatar.png' %}" alt="">
			{% endif %}
			<a href="{{user.expert.get_absolute_url}}"><h3>{{user.expert.name}}</h3></a>
		</div>
	</div>
	{% endif %}
{% else %}
<div class="panel panel-default top-margin">
	<div class="div-header">
		<h3 style="color: #a81680;"><strong>Trending Posts</strong> <span style="font-size: 13px; float: right;"><a style="color: #ca3587;" href="{% url 'newsroom:news-list' %}">See More &raquo;</a></span></h3>
	</div>
	{% if recent_posts %}
	{% for entry in recent_posts %}
	<div class="news-list">
		{% thumbnail entry.illustration "254x70" crop="center" as im %}
		<img src="{{im.url}}" alt="tweets" height="{{im.height}}">
		{% endthumbnail %}
		<div class="content">
			<a href="{% url 'newsroom:news-detail' slug=entry.slug %}"><h4>{{entry.title|title}} <span>[posted: {{entry.date_created}}]</span></h4></a>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h4 style="text-align: center;">None available</h4>
	{% endif %}
</div>
<div class="panel panel-default top-margin">
	<div class="div-header">
		<h3><strong>Business Tips 101</strong></h3>
	</div>
</div>
{% endif %}
