{% extends 'base.html' %}
{% load static thumbnail page_renderer %}

{% block extra_css %}
<link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}

{% block mainbar %}
<div class="container" style="background: #fff;">
	<div class="row blog-head">
		<div class="col-sm-12">
			<h2>Welcome to <span>TBO</span>'s Blog/Newsroom.</h2>
			<h4>Update yourself with recent articles and happenings at <strong>thebossoffice HQ</strong></h4>
		</div>
	</div>
	<div class="row" style="min-height: 300px; margin-top: 30px;">
		<div class="col-md-6">
			<div class="trend-post">
				<img src="{% static 'images/banner1.jpg' %}" alt="" class="img-responsive">
				<h3><strong>The rise of a new dream.</strong> <span><a href="">Read Now</a></span></h3>
				<h5>Micheale Okpara, 45mins ago</h5>
				<p>During an independent study conducted at three eye care professional locations, over 150 patients were interviewed before and after using GUNNAR Technology Eyewear throughout a multi-week test involving intense computer use</p>				
			</div>
		</div>
		<div class="col-md-6">
			<div class="trend-post">
				<img src="{% static 'images/banner1.jpg' %}" alt="" class="img-responsive">
				<h3><strong>The rise of a new dream.</strong> <span><a href="">Read Now</a></span></h3>
				<h5>Micheale Okpara, 45mins ago</h5>
				<p>During an independent study conducted at three eye care professional locations, over 150 patients were interviewed before and after using GUNNAR Technology Eyewear throughout a multi-week test involving intense computer use</p>
			</div>
		</div>
	</div>
</div>

{% if recents %}
<div class="container" style="background: #fff;">
	<div class="row" style="min-height: 300px; margin-top: 30px;">
		<div class="col-md-12">
			<h3 style="margin-bottom: 0; font-size: 2rem; font-weight: 600;">Recent Posts &raquo;</h3>
			<hr style="margin-top: 5px;">
		</div>
		{% for entry in recents %}
		<div class="col-md-4 col-sm-6 col-xs-12 pad">
			<a href="{% url 'newsroom:news-detail' slug=entry.slug %}">
				<div class="post">
					<div class="img">
						{% if entry.illustration %}
						{% thumbnail entry.illustration "165x198" crop="center" as im %}
						<img src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
						{% endthumbnail %}
						{% else %}
						<img src="{% static 'images/noise.png' %}" alt="">
						{% endif %}
					</div>
					<div class="content">
						<h3>{{entry.title}}</h3>
						{% if entry.sub_title %}
						<p>{{entry.sub_title|truncatechars:26}}</p>
						{% endif %}
						{% if entry.author.photo %}
						{% thumbnail entry.author.photo "50x50" crop="top" as im %}
						<img src="{{im.url}}" alt="{{entry.author}}" width="{{im.width}}" height="{{im.height}}">
						{% endthumbnail %}
						{% endif %}
						<span>
							<p>{{entry.author.name}}</p>
							<small>{{entry.date_created|timesince}} ago</small>
						</span>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}

{% if most_reads %}
<div class="container" style="background: #fff;">
	<div class="row" style="min-height: 300px; margin-top: 30px;">
		<div class="col-md-12">
			<h3 style="margin-bottom: 0; font-size: 2rem; font-weight: 600;">Top Read &raquo;</h3>
			<hr style="margin-top: 5px;">
		</div>
		{% for entry in most_reads %}
		<a href="{% url 'newsroom:news-detail' slug=entry.slug %}">
			<div class="col-md-4 col-sm-6 col-xs-12 pad" onclick="location.href='{{entry.get_absolute_url}}'">
				<div class="post">
					<div class="img">
						{% if entry.illustration %}
						{% thumbnail entry.illustration "165x198" crop="center" as im %}
						<img src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
						{% endthumbnail %}
						{% else %}
						<img src="{% static 'images/noise.png' %}" alt="">
						{% endif %}
					</div>
					<div class="content">
						<h3>{{entry.title}}</h3>
						{% if entry.sub_title %}
						<p>{{entry.sub_title|truncatechars:26}}</p>
						{% endif %}
						{% if entry.author.photo %}
						{% thumbnail entry.author.photo "50x50" crop="top" as im %}
						<img src="{{im.url}}" alt="{{entry.author}}" width="{{im.width}}" height="{{im.height}}">
						{% endthumbnail %}
						{% endif %}
						<span>
							<p>{{entry.author.name}}</p>
							<small>{{entry.date_created|timesince}} ago</small>
						</span>
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endif %}

{% if entries %}
<div class="container" style="background: #fff;">
	<div class="row" style="min-height: 300px; margin-top: 30px;">
		<div class="col-md-12">
			<h3 style="margin-bottom: 0; font-size: 2rem; font-weight: 600;">Other Posts &raquo;</h3>
			<hr style="margin-top: 5px;">
		</div>
		{% for entry in entries %}
		<a href="{% url 'newsroom:news-detail' slug=entry.slug %}">
			<div class="col-md-4 col-sm-6 col-xs-12 pad" onclick="location.href='{{entry.get_absolute_url}}'">
				<div class="post">
					<div class="img">
						{% if entry.illustration %}
						{% thumbnail entry.illustration "165x198" crop="center" as im %}
						<img src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
						{% endthumbnail %}
						{% else %}
						<img src="{% static 'images/noise.png' %}" alt="">
						{% endif %}
					</div>
					<div class="content">
						<h3>{{entry.title}}</h3>
						{% if entry.sub_title %}
						<p>{{entry.sub_title|truncatechars:26}}</p>
						{% endif %}
						{% if entry.author.photo %}
						{% thumbnail entry.author.photo "50x50" crop="top" as im %}
						<img src="{{im.url}}" alt="{{entry.author}}" width="{{im.width}}" height="{{im.height}}">
						{% endthumbnail %}
						{% endif %}
						<span>
							<p>{{entry.author.name}}</p>
							<small>{{entry.date_created|timesince}} ago</small>
						</span>
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
	<div class="row">
		<div>{% render_paginator entries %}</div>
	</div>
</div>
{% endif %}

{% endblock %}{% block content %}

{% endblock %}
 {% block extrajs %}
 <script type="text/javascript" src="{% static 'js/news.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}"></script>
 {% endblock %}