{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}

{% block mainbar %}
<div class="container" style="background: #fff;">
	<div class="row blog-head">
		<div class="col-sm-12">
			<h2>Welcome to <span>TBO</span>'s Blog/Newsroom.</h2>
			<h4>Update yourself with recent articles and happenings at <strong>thebossoffice HQ</strong></h4>
		</div>
	</div>
	<div class="row" style="min-height: 300px; margin-top: 30px;">
		<div class="col-md-6">
			<div class="trend-post">
				<img src="{% static 'images/banner1.jpg' %}" alt="" class="img-responsive">
				<h3><strong>The rise of a new dream.</strong> <span><a href="">Read Now</a></span></h3>
				<h5>Micheale Okpara, 45mins ago</h5>
				<p>During an independent study conducted at three eye care professional locations, over 150 patients were interviewed before and after using GUNNAR Technology Eyewear throughout a multi-week test involving intense computer use</p>				
			</div>
		</div>
		<div class="col-md-6">
			<div class="trend-post">
				<img src="{% static 'images/banner1.jpg' %}" alt="" class="img-responsive">
				<h3><strong>The rise of a new dream.</strong> <span><a href="">Read Now</a></span></h3>
				<h5>Micheale Okpara, 45mins ago</h5>
				<p>During an independent study conducted at three eye care professional locations, over 150 patients were interviewed before and after using GUNNAR Technology Eyewear throughout a multi-week test involving intense computer use</p>
			</div>
		</div>
	</div>
</div>
<div class="container" style="background: #fff;">
	<div class="row" style="min-height: 400px; margin-top: 30px;">
		<div class="col-md-12">
			<h3 style="margin-bottom: 0; font-size: 2rem; font-weight: 600;">Top Read &raquo;</h3>
			<hr style="margin-top: 5px;">
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 pad">
			<div class="post">
				<div class="img">
					<img src="{% static 'images/marketing.jpg' %}" alt="">
				</div>
				<div class="content">
					<h3>Business and Intelligence: Love Made from Heaven</h3>
					<p>Very short subtitle </p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 pad">
			<div class="post">
				<div class="img">
					<img src="{% static 'images/noise.png' %}" alt="">
				</div>
				<div class="content">
					<h3>Business and Intelligence: Love Made from Heaven</h3>
					<p>Very short subtitle </p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 pad">
			<div class="post">
				<div class="img">
					<img src="{% static 'images/marketing.jpg' %}" alt="">
				</div>
				<div class="content">
					<h3>Business and Intelligence: Love Made from Heaven</h3>
					<p>Very short subtitle </p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 pad">
			<div class="post">
				<div class="img">
					<img src="{% static 'images/login.jpg' %}" alt="">
				</div>
				<div class="content">
					<h3>Business and Intelligence: Love Made from Heaven</h3>
					<p>Very short subtitle </p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 pad">
			<div class="post">
				<div class="img">
					<img src="{% static 'images/marketing.jpg' %}" alt="">
				</div>
				<div class="content">
					<h3>Business and Intelligence: Love Made from Heaven</h3>
					<p>Very short subtitle </p>
					<span>
						<p>Lawretta Maduegbuna</p>
						<small>March 12</small>
					</span>
					<img src="{% static 'images/lawretta.jpg' %}" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 pad">
			<div class="post">
				<div class="img">
					<img src="{% static 'images/overlay.jpg' %}" alt="">
				</div>
				<div class="content">
					<h3>Business and Intelligence: Love Made from Heaven</h3>
					<p>Very short subtitle </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row more">
		<a href="">Read More...</a>
	</div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
 {% block extrajs %}
 <script type="text/javascript" src="{% static 'js/news.js' %}"></script>
 {% endblock %}