{% extends 'base.html' %}
{% load static thumbnail %}

{% block extra_css %}
<link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}

{% block mainbar %}
<div class="container" style="background: #fff;">
	<div class="row" style="min-height: 300px; margin: 30px 200px;">
		<div class="news">
			<div class="col-md-12">
				<h2><strong>{{entry.title|title}}</strong></h2>
			</div>
			<div class="col-md-12 author">
				<div>
					{% thumbnail entry.author.photo "45x45" crop="top" as im %}
					<img src="{{im.url}}" alt="">
					{% endthumbnail %}
					<h5>{{entry.author.name}}</h5>
					<p> {{entry.date_created}}</p>
				</div>
			</div>
			<div class="col-md-12" style="margin-right: auto; margin-left: auto; margin-bottom: 30px;">
				<div class="">
					{% if entry.illustration %}
					{% thumbnail entry.illustration "1005x298" crop="center" as im %}
					<img src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}" class="img-responsive">
					{% endthumbnail %}
					{% else %}
					<img src="{% static 'images/noise.png' %}" alt="">
					{% endif %}
				</div>
			</div>
			<div class="col-md-12 content">
				{{entry.content|safe}}
				<hr style="border: 1px dashed #f5f5f5;">
			</div>
		</div>
		<hr>
		<div>
			<form method="POST" action="{% url 'newsroom:comment' %}">{% csrf_token %}
				<input type="hidden" value="{{entry.id}}" name="entry_id">
				<div class="form-group">
					<textarea name="body" id="id_body" cols="30" rows="2" class="form-control" style="max-height: 70px; min-height: 70px !important;" placeholder="Leave a Comment"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save Comment</button>
				</div>
			</form>
		</div>
		<hr>
		<div>
			<h4>Comments {{entry.comment_set.count}}</h4>
			{% for comment in entry.comment_set.all %}
			<div>
				<h5>{{comment.user}} posted {{comment.date_created|timesince}} ago</h5>
				<p>{{comment.body}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
 {% block extrajs %}
 <script type="text/javascript" src="{% static 'js/news.js' %}"></script>
 {% endblock %}