{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<style>
	select, input[type=text], input[type=email], input[type=url], input[type=file] {
		height: 33px !important;
		color: #000 !important;
		border-color: #d5d5d5 !important;
	}
	textarea {
		min-height: 70px !important;
		color: #000 !important;
		border-color: #d5d5d5 !important;
	}
</style>
{% endblock %}
{% block header %}
	<h1>{{expert.name}}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="panel panel-default top-margin">
					<div style="height: 150px;">
						{% if expert.photo %}
							{% thumbnail expert.photo "120x120" crop="top" as img %}
							<img src="{{img.url}}" alt="" style="position: absolute; left: 4%; top: 125px; padding: 5px; background: #fff;" class="img-circle">
							{% endthumbnail %}
						{% else %}
						<img src="{% static 'images/avatar.png' %}" alt="" class="img-circle">
						{% endif %}
					</div>
					<div class="lc-profile">
					{% thumbnail expert.photo "120x120" crop="top" as img %}
					<img src="{{img.url}}" alt="" style="position: absolute; left: 4%; top: 125px; padding: 5px; background: #fff;" class="img-circle">
					{% endthumbnail %}
						<div class="col-md-2"></div>
						<div class="col-md-7">
							<h2>{{expert}}</h2>
						</div>
						<div class="com-md-3">
							<a href="" id="id_update">Update Profile</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default top-margin">
					<div class="lc-detail">
						<div>
							<h3>Expert Profile</h3>
						</div>
						<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
							<div class="row" style="padding: 10px;">
								<div class="col-md-6">
									{% for field in form|slice:"0:6" %}
									<div class="form-group">
										<label for="{{field.id_for_label}}">{{field.label}}</label><br>
										{{field}}
									</div>
									{% endfor %}
								</div>
								<div class="col-md-6">
									{% for field in form|slice:"6:" %}
									<div class="form-group">
										<label for="{{field.id_for_label}}">{{field.label}}</label><br>
										{{field}}
									</div>
									{% endfor %}
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<button class="btn btn-primary" type="submit">Update Profile</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default top-margin">
					<div class="div-header">
						<h3><strong>Other Mentors in {% if user == mentor.user %} Your {% else %}{{mentor.title}} {{mentor.user.first_name}}'s {% endif %} Area of Expertise</strong></h3>
					</div>
					<div class="row" style="padding: 5px 10px;">
						{% for other_mentor in mentors_for_industry %}
						<div class="col-sm-3">
							<a href="{{other_mentor.get_public_url}}">
								<div class="other-detail">
									{% thumbnail other_mentor.photo "150x150" crop="top" as img %}
									<img src="{{img.url}}" alt="">
									{% endthumbnail %}
									<h4>{{other_mentor}}</h4>
								</div>
							</a>
						</div>
						{% empty %}
						<p style="text-align: center; margin: 20px auto;">Sorry! We couldn't find any other Mentors for similar expertise.</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'side_bar.html' %}
			{% if user.is_authenticated %}
			{% include 'expert/trending_expert.html' %}
			{% endif %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}