{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block header %}
	<h1>{{expert.name}}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">	
				<div class="panel panel-default top-margin">
					<div style="height: 150px;">
						{% thumbnail expert.background_image "875x145" crop="center" as img %}
					<img src="{{img.url}}" alt="" class=""> 
					{% endthumbnail %}
					</div>
					<div class="lc-profile">
						{% if expert.photo %}
							{% thumbnail expert.photo "120x120" crop="top" as img %}
							<img src="{{img.url}}" alt="" style="position: absolute; left: 4%; top: 125px; padding: 5px; background: #fff;" class="img-circle">
							{% endthumbnail %}
						{% else %}
						<img src="{% static 'images/avatar.png' %}" alt="" class="img-circle">
						{% endif %}
						<div class="col-md-2"></div>
						<div class="col-md-7">
							<h2>{{expert}}</h2>
						</div>
						<div class="com-md-3">
							{% if user.is_authenticated %}
								{% if user.mentee %}
								{% if update_percentage < 75 %}
									<a href="#" data-toggle="popover" title="Your profile is just {{update_percentage}}% complete. Update your profile to enable you send a mentorship request.">Request Expert's Services</a>
									{% elif expert.percentage_complete < 75 %}
									<a href="#" data-toggle="popover" title="Sorry! You can't send a mentorship request to {{expert}}. It appears there is an issue with the account currently. Try again Later">Request Expert's Services</a>
									{% else %}
									<a href="{% url 'mentee:send-mentor-request' slug=mentor.slug %}">Request Expert's Services</a>
									{% endif %}
								{% elif user == expert.user %}
								<a href="{% url 'expert:edit' %}">Edit Account</a>
								{% else %}
								<a href="">Request for more details</a>
								{% endif %}
							{% else %}
							<a href="{% url 'accounts:signup' %}?user_type=unknown">Sign Up Now to Request Assistance</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div style="text-align: center; margin-top: 20px;">
						<p><strong>Short Bio</strong></p>
						{{expert.short_biography}}
					</div>
				</div>
				<div class="col-md-9" style="padding-right: 0;">
					<div class="panel panel-default top-margin">
						<div class="lc-detail">
							<div>
								<h3>Profile<span style="float: right; padding-right: 10px; font-size: 16px;">{% if user == expert.user %} <a href="{% url 'expert:edit' %}"><i class="fa fa-edit"></i> Edit</a></span>{% endif %}</h3>
							</div>
							<div class="col-md-6">
								<p><strong>Area of Expertise:</strong> <span>{{expert.get_industry}}</span></p>
								<p><strong>Availability:</strong> <span>{{expert.availability}}</span></p> 
							</div>
							<div class="col-md-6">
								<p><strong>Last Active:</strong> <span>{{expert.date_modified}}</span></p> 
								<p><strong>Type of Business to Handle:</strong> <span>{{expert.type_to_handle}}</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default top-margin">
					<div class="div-header">
						<h3><strong>Other Experts in {% if user == expert.user %} Your {% else %}{{expert.title}} {{expert.user.first_name}}'s {% endif %}Area of Expertise</strong></h3>
					</div>
					<div class="row" style="padding: 5px 10px;">
						{% for expert in experts_for_industry %}
						<div class="col-sm-3">
							<a href="{{expert.get_absolute_url}}">
								<div class="other-detail">
									{% thumbnail expert.photo "150x150" crop="top" as img %}
									<img src="{{img.url}}" alt="">
									{% endthumbnail %}
									<h4>{{expert}}</h4>
								</div>
							</a>
						</div>
						{% empty %}
						<p style="text-align: center; margin: 20px auto;">Sorry! We couldn't find any other Expert for similar expertise.</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'side_bar.html' %}
			{% if user.is_authenticated %}
				{% include 'expert/trending_expert.html' %}
			{% endif %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}