{% load staticfiles thumbnail %}
<div class="panel panel-default top-margin">
	<div class="div-header">
		<h3><strong>Trending Experts</strong> <span style="font-size: 15px; float: right;"><a href="{% url 'expert:expert-list' %}">View all</a></span></h3>
	</div>
	{% for expert in trending_experts %}
	<div class="div-content-list">
		{% thumbnail expert.photo "50x50" crop="top" as im %}
		 <img src="{{im.url}}" alt="">
		 {% endthumbnail %}
		<h4>{{expert}}</h4>
		<h5>Expert in {{expert.industry}}</h5>
		<a href="{{expert.get_absolute_url}}">See Profile &raquo;</a>
	</div>
	{% empty %}
	<h4 style="margin: 10px auto; text-align: center;">None Available Yet</h4>
	{% endfor %}
</div>