.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.trend-post {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 1px 0 3px 0 rgba(0,0,0,.3);
  border-radius: 2px;
  margin-bottom: 10px;
  max-height: 300px;
  overflow: hidden;
}
.trend-post p {
  padding: 4px 10px;
  text-align: justify;
  font-size: 15px;
  line-height: 20px;
}
.trend-post h3 {
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}
.trend-post h5 {
  margin: 0;
  padding: 0 0 5px 10px;
  border-bottom: 1px solid #f3f3f3;
}
.trend-post span a {
  float: right;
  font-size: 14px;
  padding: 3px 12px;
  border-radius: 20px;
  border: 1px solid #3b5998;
  margin-right: 4px;
  transition: all .45s ease-in-out;
}

.trend-post span a:hover {
  color: #fff;
  background: #3b5998;
}
/*********************************************
*****************BLOG HEAD********************/
.blog-head {
   margin: 20px auto; 
   text-align: center;
   padding: 20px;
}
.blog-head h2 {
  margin-bottom: 5px;
  font-size: 4rem;
}
.blog-head h2 span {
  font-size: 3.5rem;
  padding: 0 7px;
  letter-spacing: 2px;
  color: #fff;
  background: #3b5998;
}
.blog-head h4 {
  font-size: 2rem;
}
/****************************************
***************MAIN BLOG*****************/
.pad {
  padding: 0 10px;
}
.post {
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  height:200px;
  overflow: hidden;
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
  transition: all .40s ease-in-out
}
.post:hover {
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.03), 2px 2px 5px 0 rgba(0,0,0,0.04);
  transform: translateY(-3px);
}
.post .img {
  width: 45%;
  height: 100%;
  display: inline;
  float: left;
}
.post .img img {
  width: 100%;
  height: 100%;
}
.post .content {
  width: 55%;
  height: 100%;
  display: inline;
  background: #fff;
  padding: 0 15px;
  float: right;
}
.post .content h3 {
  font-weight: 600;
  color: #3b5998;
}
.post .content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #f5f5f5;
  transition: all .45s ease-in-out;
}
.post .content span p {
  margin-bottom: 0;
}
.more {
  text-align: center;
  margin: 20px;
}
.more a {
  padding: 5px 40px;
  border-radius: 30px;
  background: #3b5998;
  font-size: 1.5rem;
  color: #fff;
  transition: all .43s ease-in-out;
}
.more a:hover {
  background: #fff;
  border: 1px dashed #;
  color: #3b5998;
}
/********************************************
***************NEWS**************************/
.news {
  border-radius: 5px;
  border: 1px solid #fcfcfc;
  text-align: center;
}
.news h2 {
  text-align: center;
  font-weight: 100;
}
.news .author {
  text-align: left;
  border-bottom: 2px solid #3b5998;
  margin-bottom: 20px;
}
.news .author h5 {
  margin-bottom: 0;
  padding-top: 10px;
  font-weight: 600;
}
.news .author img {
  margin-right: 10px;
  float: left;
  padding: 2px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
}
.news .content {
  text-align: justify;
}