{% extends 'base.html' %}
{% load staticfiles thumbnail %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<style>
	select, input[type=text], input[type=email], input[type=url], input[type=file] {
		height: 33px !important;
		color: #000 !important;
		border-color: #d5d5d5 !important;
	}
	textarea {
		min-height: 70px !important;
		color: #000 !important;
		border-color: #d5d5d5 !important;
	}
</style>
{% endblock %}
{% block header %}
	<h1>{{mentee.name}}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="panel panel-default top-margin">
					<div style="height: 150px;">
						{% thumbnail mentee.background_image "875x150" crop="center" as img %}
						<img src="{{img.url}}" alt="" class=""> 
						{% endthumbnail %}
					</div>
					<div class="lc-profile">
						{% if mentee.photo %}
							{% thumbnail mentee.photo "120x120" crop="top" as img %}
							<img src="{{img.url}}" alt="" style="position: absolute; left: 4%; top: 125px; padding: 5px; background: #fff;" class="img-circle">
							{% endthumbnail %}
						{% else %}
						<img src="{% static 'images/avatar.png' %}" alt="" class="img-circle">
						{% endif %}
						<div class="col-md-2"></div>
						<div class="col-md-7">
							<h2>{{mentee}}</h2>
						</div>
						<div class="com-md-3">
							<a href="" id="id_update">Update Profile</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default top-margin">
					<div class="lc-detail">
						<div>
							<h3>Mentee Profile</h3>
						</div>
						<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
							<div class="row" style="padding: 10px;">
								<div class="col-md-6">
									{% for field in form|slice:":8" %}
									<div class="form-group">
										<label for="{{field.id_for_label}}">{{field.label}}</label><br>
										{{field}}
									</div>
									{% endfor %}
								</div>
								<div class="col-md-6">
									{% for field in form|slice:"8:" %}
									<div class="form-group">
										<label for="{{field.id_for_label}}">{{field.label}}</label><br>
										{{field}}
									</div>
									{% endfor %}
									<div class="form-group">
										{{addr_form}}
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<button class="btn btn-primary" type="submit" id="id_save">Update Profile</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'side_bar.html' %}
			{% if user.is_authenticated %}
			{% include 'expert/trending_expert.html' %}
			{% endif %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script>
	$("#id_update").click(function(event) {
		event.preventDefault();
		$("#id_save").click();
	})
</script>
{% endblock %}