{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block header %}
	<h1>{{mentee.name}}</h1>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="panel panel-default top-margin">
					<div style="height: 150px; background: #fff;">
						{% thumbnail mentee.background_image "875x150" crop="center" as img %}
						<img src="{{img.url}}" alt="" class=""> 
						{% endthumbnail %}
					</div>
					<div class="lc-profile">
					{% if mentee.photo %}
						{% thumbnail mentee.photo "120x120" crop="top" as img %}
						<img src="{{img.url}}" alt="" class="img-circle">
						{% endthumbnail %}
					{% else %}
					<img src="{% static 'images/avatar.png' %}" alt="" class="img-circle">
					{% endif %}
						<div class="col-md-2"></div>
						<div class="col-md-7">
							<h2>{{mentee}}</h2>
						</div>
						<div class="com-md-3">
							{% if user.is_authenticated %}
								{% if user != mentee.user %}
									<a href="">Request for more details</a>
								{% else %}
									<a href="{% url 'mentee:edit' %}">Edit Account</a>
								{% endif %}
							{% endif %}					
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9" style="padding-right: 0;">
					<div class="panel panel-default top-margin">
						<div class="lc-detail">
							<div>
								<h3>Profile <span style="float: right; padding-right: 10px; font-size: 16px;">{% if user == mentee.user %} <a href="{% url 'mentee:edit' %}"><i class="fa fa-edit"></i> Edit</a></span>{% endif %}</h3>
							</div>
							<div class="col-md-6">
								<p><strong>Industry:</strong> 
									{% if mentee.industry.title == "Others" %}
									<span>{{mentee.specify_industry}}</span>
									{% else %}
									<span>{{mentee.industry}}</span>
									{% endif %}
								</p>
								<p><strong>Business Name:</strong> <span>{{mentee.name_of_business}}</span></p> 
								<p><strong>Date of Commencement:</strong> <span>{{mentee.year_of_commencement}}</span></p>
							</div>
							<div class="col-md-6">
								<p><strong>Business Location:</strong> <span>{{mentee.address}}</span></p>
								<p><strong>Last Active:</strong> <span>{{mentee.date_modified}}</span></p> 
								<p><strong>Education Qualification:</strong> <span>{{mentee.level_of_education}}</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<diV class="row">
				<div class="panel panel-default top-margin">
					<div class="div-header">
						<h3><strong>Other Mentees with {% if user == mentee.user %} Your {% else %} {{mentee}}'s {% endif %}Industry type</strong></h3>
					</div>
					<div class="row" style="padding: 5px 10px;">
						{% for mentee in mentees_for_industry %}
						<div class="col-sm-3">
							<a href="{{mentee.get_absolute_url}}">
								<div class="other-detail">
									{% thumbnail mentee.photo "150x150" crop="top" as img %}
									<img src="{{img.url}}" alt="">
									{% endthumbnail %}
									<h4>{{mentee}}</h4>
								</div>
							</a>
						</div>
						{% empty %}
						<p style="text-align: center; margin: 20px auto;">Sorry! We couldn't find any other Mentees for similar Industry.</p>
						{% endfor %}
					</div>
				</div>
			</diV>
		</div>
		<div class="col-md-3">
			{% include 'side_bar.html' %}
			{% if user.is_authenticated %}
				{% include 'expert/trending_expert.html' %}
			{% endif %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}