{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block header %}<h1>AVAILABLE <span style="color: #3b5998;">MENTEES </span></h1>{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			{% include 'side_bar.html' %}
		</div>
		<div class="col-md-6" style="padding-left: 0; padding-right: 0;">
			<div class="panel panel-default top-margin">
				<div class="" style="text-align: left;">
					<div class="filter">
						{% include 'filter.html' %}
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="row" style="padding: 10px;">
					{% for mentee in mentees %}
					<div class="col-md-4">
						<div class="dtl12">
							{% if mentee.photo %}
                            {% thumbnail mentee.photo "240x200" crop="top" as im %}
                            <img src="{{im.url}}" alt="{{mentee.name}}">
							{% endthumbnail %}
							{% else %}
							<img src="{% static 'images/avatar.jpg' %}" alt="" style="width: 168px; height: 141px;">
							{% endif %}
                            <h4>{{mentee}}</h4>
                            <div class="dtl">
                                <h3>{{mentee.name}}</h3>
                                <p>
                                	<a href="{{mentee.get_absolute_url}}">View Profile</a>
                                </p>
                                <p>Name of Business: <strong>{{mentee.name_of_business}}</strong></p>
                                <p>Years of Commencement: <strong>{{mentee.year_of_commencement}}</strong></p>
                            </div>
                        </div>
					</div>
					{% empty %}
					<h5 style="text-align: center; margin: 30px auto;">Sorry! No records were found</h5>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include 'expert/trending_expert.html' %}
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script>
	$('#id_industry').change(function() {
		$('#id_filter').click();
	})
</script>
<script>
	$('#id_industry').select2();
</script>
{% endblock %}
