{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block header %}<h1>AVAILABLE <span style="color: #446f1e;">MENTEES</span> <span style="padding: 3px 25px; border-radius: 15px; background: #f4f4f4;">{{mentees.count}}</span></h1>{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			{% include 'side_bar.html' %}
		</div>
		<div class="col-md-6" style="padding-left: 0; padding-right: 0;">
			<div class="panel panel-default top-margin">
				<div class="" style="text-align: left;">
					<div class="filter">
						{% include 'filter.html' %}
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="row" style="padding: 10px;">
					{% for mentee in mentees %}
					<div class="col-md-6">
						<div class="dtl12">
                            {% thumbnail mentee.photo "240x200" crop="top" as im %}
                            <img src="{{im.url}}" alt="{{mentee.name}}">
                            {% endthumbnail %}
                            <h4>{{mentee}}</h4>
                            <div class="dtl">
                                <h3>{{mentee.name}}</h3>
                                <p>Name of Business: <strong>{{mentee.name_of_business}}</strong></p>
                                <p>Years of Commencement: <strong>{{mentee.year_of_commencement}}</strong></p>
                                <a href="{{mentee.get_absolute_url}}">View Profile</a>
                            </div>
                        </div>
					</div>
					{% empty %}
					<h4 style="text-align: center; margin: 30px auto;">Sorry! No records were found</h4>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default top-margin">
				<div class="div-header">
					<h3><strong>Recent Mentees</strong> <span style="font-size: 15px; float: right;"><a href="">View all</a></span></h3>
				</div>
				<div class="div-content-list">
					<img src="{% static 'images/logo.png' %}" alt="">
					<h4>Pastor, Emmanuel</h4>
					<h5>Expert in Marketing</h5>
					<a href="">See Profile &raquo;</a>
				</div>
				<div class="div-content-list">
					<img src="{% static 'images/logo.png' %}" alt="">
					<h4>Cleo, Mardi</h4>
					<h5>Expert in Branding</h5>
					<a href="">View Profile &raquo;</a>
				</div>
				<div class="div-content-list">
					<img src="{% static 'images/logo.png' %}" alt="">
					<h4>James, Adetola</h4>
					<h5>Expert in Branding</h5>
					<a href="">View Profile &raquo;</a>
				</div>
			</div>
			{% include '_mini_footer.html' %}
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script>
	$('#id_industry').change(function() {
		$('#id_filter').click();
	})
</script>
<script>
	$('#id_industry').select2();
</script>
{% endblock %}